<h1 style='text-align: center'> SEAL Data Scientist Technical Test </h1>
<h3 style='text-align: center; font-style: italic'> Oleh: Garudapaksi Yusuf </h3>

---

## 1 | *Table Creation*

### Data ETL

* *Source* data dan instruksi: [Google Drive](https://drive.google.com/drive/folders/16e052sYcXIIhrOVQJ86G_S12SGqrlp96?usp=sharing).
* *Dikutip dari `Data Scientist Techncial Test.xlsx` yang tersedia pada folder `docs` dari repository ini dengan sedikit modifikasi untuk memudahkan pemahaman.*

> Buatlah *table* seperti berikut dari data dinas sosial dan data *master* desa:

In [1]:
# Import library yang dibutuhkan untuk mengakses contoh tabel
import pandas as pd

# Mengakses contoh tabel yang tersedia dalam format 'excel'
contoh_tabel = pd.read_excel(
    io='../docs/Data Scientist Techncial Test.xlsx', # Letak dan nama file dari contoh tabel
    sheet_name='bentuk table', # Nama sheet dari contoh tabel
)

In [2]:
# Pengaturan untuk library Pandas 
pd.set_option(
    'display.max_columns', # Batasan untuk jumlah kolom yang ditampilkan
    None # Dihilangkan sehingga tidak truncated (beberapa kolom disembunyikan dengan tampilan '...')
) 
                                           
# Menampilkan 'n' baris pertama dari contoh tabel untuk 'ease of viewing'                                                     
contoh_tabel.head( 
    n=5
)

,id,kode_provinsi_y,nama_provinsi,kode_kabupaten_kota,kabupaten,nama_kabupaten_kota,bps_kode_kecamatan,kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,kelurahan,bps_nama_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_nama_desa_kelurahan,periode_update,nik,nama,alamat,kategori,kategori.1,jumlah,satuan,tahun
0,1,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526140,GEGER,GEGER,3526140002,LERPAK,LERPAK,35.26.06,GEGER,35.26.06.2005,LERPAK,TRIWULAN I 2024,3526060000000000,ABD HALIM,DSN GLIMBUR,NaN,-,-,-,2024
1,2,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526070,GALIS,GALIS,3526070004,GALIS,GALIS,35.26.18,GALIS,35.26.18.2007,GALIS,TRIWULAN I 2024,3526180000000000,ABD. ROHMAN,DSN. REMBAH GALIS,NaN,-,-,-,2024
2,3,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526070,GALIS,GALIS,3526070009,LONGKEK,LONGKEK,35.26.18,GALIS,35.26.18.2006,LONGKEK,TRIWULAN I 2024,3526190000000000,ABDUS SYUKUR,DSN. BARAT SUMBER,NaN,-,-,-,2024
3,4,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526140,GEGER,GEGER,3526140006,CAMPOR,CAMPOR,35.26.06,GEGER,35.26.06.2010,CAMPOR,TRIWULAN I 2024,3526060000000000,ACHMAD,DSN POCONG,NaN,-,-,-,2024
4,5,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526090,TRAGAH,TRAGAH,3526090013,TRAGAH,TRAGAH,35.26.14,TRAGAH,35.26.14.2006,TRAGAH,TRIWULAN I 2024,3526140000000000,ACHMAD RIDOI,DSN. BANGGUMOK,NaN,-,-,-,2024

*Catatan*:
* *Indeks tabel yang ditampilkan mulai dari `0-4` pada contoh tabel di atas adalah indeks yang ditampilkan dari Pandas (menggunakan sistem 0-indexing yang dimulai dari angka 0), sedangkan*
* *Kolom `id` dengan nilai yang hampir serupa —mulai dari `1-5`— merupakan indeks yang disediakan dari contoh tabel.*

Berikutnya, contoh tabel di atas akan dibandingkan dengan data dinas sosial dan data *master* desa yang tersedia pada folder `data`:

In [3]:
# Membuat variabel instances dari data dinas sosial dalam format 'csv'
data_dinsos_csv = pd.read_csv(
    filepath_or_buffer='../data/Data Dinas Sosial.csv',
    sep=';', # Character yang digunakan sebagai delimiter/separator
)

# Dan dalam format 'excel'
data_dinsos_xlsx = pd.read_excel(
    io='../data/Data Dinas Sosial.xlsx',
)

# Membuat variabel instance dari data master desa
data_master_desa = pd.read_csv(
    filepath_or_buffer='../data/masterdesa.csv',
    sep=';'
)

In [4]:
# Menampilkan 5 baris pertama dari 'Data Dinas Sosial.csv'
data_dinsos_csv.head(
    n=5
)

,id,kode_provinsi,nama_provinsi,periode_update,nik,nama,alamat,provinsi,kabupaten,kecamatan,kelurahan,tahun,kategori,jumlah,satuan
0,1,35,Jawa Timur,Triwulan I 2024,"3,52606E+15",ABD HALIM,DSN GLIMBUR,JAWA TIMUR,KAB. BANGKALAN,GEGER,LERPAK,2024,-,-,-
1,2,35,Jawa Timur,Triwulan I 2024,"3,52618E+15",ABD. ROHMAN,DSN. REMBAH GALIS,JAWA TIMUR,KAB. BANGKALAN,GALIS,GALIS,2024,-,-,-
2,3,35,Jawa Timur,Triwulan I 2024,"3,52619E+15",ABDUS SYUKUR,DSN. BARAT SUMBER,JAWA TIMUR,KAB. BANGKALAN,GALIS,LONGKEK,2024,-,-,-
3,4,35,Jawa Timur,Triwulan I 2024,"3,52606E+15",ACHMAD,DSN POCONG,JAWA TIMUR,KAB. BANGKALAN,GEGER,CAMPOR,2024,-,-,-
4,5,35,Jawa Timur,Triwulan I 2024,"3,52614E+15",ACHMAD RIDOI,DSN. BANGGUMOK,JAWA TIMUR,KAB. BANGKALAN,TRAGAH,TRAGAH,2024,-,-,-

In [5]:
# Menampilkan 5 baris pertama dari 'Data Dinas Sosial.xlsx'
data_dinsos_xlsx.head(
    n=5
)

,id,kode_provinsi,nama_provinsi,periode_update,nik,nama,alamat,provinsi,kabupaten,kecamatan,kelurahan,tahun,kategori,jumlah,satuan
0,1,35,Jawa Timur,Triwulan I 2024,352606000000000000000,ABD HALIM,DSN GLIMBUR,JAWA TIMUR,KAB. BANGKALAN,GEGER,LERPAK,2024,-,-,-
1,2,35,Jawa Timur,Triwulan I 2024,352618000000000000000,ABD. ROHMAN,DSN. REMBAH GALIS,JAWA TIMUR,KAB. BANGKALAN,GALIS,GALIS,2024,-,-,-
2,3,35,Jawa Timur,Triwulan I 2024,352619000000000032768,ABDUS SYUKUR,DSN. BARAT SUMBER,JAWA TIMUR,KAB. BANGKALAN,GALIS,LONGKEK,2024,-,-,-
3,4,35,Jawa Timur,Triwulan I 2024,352606000000000000000,ACHMAD,DSN POCONG,JAWA TIMUR,KAB. BANGKALAN,GEGER,CAMPOR,2024,-,-,-
4,5,35,Jawa Timur,Triwulan I 2024,352614000000000000000,ACHMAD RIDOI,DSN. BANGGUMOK,JAWA TIMUR,KAB. BANGKALAN,TRAGAH,TRAGAH,2024,-,-,-

**Observasi:**

* Sekilas tampak bahwa isi dari kedua format dari data dinas sosial `dinsos` hampir serupa.
* Kecuali pada kolom `nik` yang ditampilkan dalam format scientific (menggunakan notasi `E` untuk menampilkan bilangan numerik) pada `dinsos_csv`, dan menggunakan format yang seharusnya (16 digit angka) pada `dinsos_xlsx`.

Analisis berikutnya menggunakan fungsi bawaan pandas yakni `equals()` untuk mengetahui lebih jauh kemiripan dari kedua format data tersebut:
* Fungsi tersebut membandingkan kemiripan bentuk (jumlah baris dan kolom) serta isi (baik dari segi lokasi *missing value* maupun tipe data) dari dua DataFrame.
* *Output* yang dihasilkan adalah *boolean* yang mengindikasikan apakah semua elemen dalam kedua DataFrame sama atau tidak.

In [6]:
pd.DataFrame( # Membuat DataFrame instance
    data={ # Dengan isi sesuai yang diatur dalam parameter 'data'
        'dinsos_csv': data_dinsos_csv.columns, # Daftar nama kolom pada variabel 'dinsos_csv'
        'equal': [data_dinsos_csv[column_csv].equals(
            other=data_dinsos_xlsx[column_xlsx]
        ) for column_csv, column_xlsx in zip(data_dinsos_csv.columns, data_dinsos_xlsx.columns)],
        'dinsos_xlsx': data_dinsos_xlsx.columns # Daftar nama kolom pada variabel 'dinsos_xlsx'
    }
)

        dinsos_csv  equal     dinsos_xlsx
0               id   True              id
1    kode_provinsi   True   kode_provinsi
2    nama_provinsi   True   nama_provinsi
3   periode_update   True  periode_update
4              nik  False             nik
5             nama   True            nama
6           alamat   True          alamat
7         provinsi   True        provinsi
8        kabupaten   True       kabupaten
9        kecamatan   True       kecamatan
10       kelurahan   True       kelurahan
11           tahun   True           tahun
12        kategori   True        kategori
13          jumlah   True          jumlah
14          satuan   True          satuan

**Observasi:**
* Hasil analisis menunjukkan kemiripan dimensi dan elemen dari kedua format data dinas sosial:
    * Jumlah dan nama kolom dari kedua format tersebut adalah serupa, serta
    * Isi dari tiap-tiap kolom tersebut adalah sama —yang ditunjukkan dari nilai kolom `equal` pada DataFrame di atas yang bernilai `True` untuk masing-masing pasangan kolom—, kecuali pada pasangan kolom `nik`.
    * Telah ditunjukkan secara sekilas dalam 5 baris pertama pada tiap format data tersebut, bahwa kolom `nik` dari `dinsos.csv` ditampilkan dalam format *scientific* (menggunakan notasi `E` untuk menampilkan bilangan numerik). Sedangkan `dinsos_xlsx` secara *domain knowledge* yang umum diketahui menggunakan format yang seharusnya (berupa 16 digit angka NIK).
* Berdasarkan temuan-temuan ini, diputuskan untuk menggunakan `dinsos.xlsx` sebagai format yang representatif untuk data dinas sosial.

In [7]:
# Membuat variable instance baru 
data_dinas_sosial = data_dinsos_xlsx # Dari format data dinas sosial yang akan digunakan
data_dinas_sosial.head(
    n=5
)

,id,kode_provinsi,nama_provinsi,periode_update,nik,nama,alamat,provinsi,kabupaten,kecamatan,kelurahan,tahun,kategori,jumlah,satuan
0,1,35,Jawa Timur,Triwulan I 2024,352606000000000000000,ABD HALIM,DSN GLIMBUR,JAWA TIMUR,KAB. BANGKALAN,GEGER,LERPAK,2024,-,-,-
1,2,35,Jawa Timur,Triwulan I 2024,352618000000000000000,ABD. ROHMAN,DSN. REMBAH GALIS,JAWA TIMUR,KAB. BANGKALAN,GALIS,GALIS,2024,-,-,-
2,3,35,Jawa Timur,Triwulan I 2024,352619000000000032768,ABDUS SYUKUR,DSN. BARAT SUMBER,JAWA TIMUR,KAB. BANGKALAN,GALIS,LONGKEK,2024,-,-,-
3,4,35,Jawa Timur,Triwulan I 2024,352606000000000000000,ACHMAD,DSN POCONG,JAWA TIMUR,KAB. BANGKALAN,GEGER,CAMPOR,2024,-,-,-
4,5,35,Jawa Timur,Triwulan I 2024,352614000000000000000,ACHMAD RIDOI,DSN. BANGGUMOK,JAWA TIMUR,KAB. BANGKALAN,TRAGAH,TRAGAH,2024,-,-,-

In [8]:
# Menampilkan 5 baris pertama dari data master desa
data_master_desa.head(
    n=5
)

,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,bps_kode_kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,bps_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_desa_kelurahan
0,35,JAWA TIMUR,3501,KABUPATEN PACITAN,3501010,DONOROJO,3501010001,WIDORO,35.01.01,DONOROJO,35.01.01.2001,WIDORO
1,35,JAWA TIMUR,3501,KABUPATEN PACITAN,3501010,DONOROJO,3501010002,SAWAHAN,35.01.01,DONOROJO,35.01.01.2002,SAWAHAN
2,35,JAWA TIMUR,3501,KABUPATEN PACITAN,3501010,DONOROJO,3501010003,KALAK,35.01.01,DONOROJO,35.01.01.2003,KALAK
3,35,JAWA TIMUR,3501,KABUPATEN PACITAN,3501010,DONOROJO,3501010004,SENDANG,35.01.01,DONOROJO,35.01.01.2004,SENDANG
4,35,JAWA TIMUR,3501,KABUPATEN PACITAN,3501010,DONOROJO,3501010005,KLEPU,35.01.01,DONOROJO,35.01.01.2005,KLEPU

In [9]:
contoh_tabel.head(
    n=5
)

,id,kode_provinsi_y,nama_provinsi,kode_kabupaten_kota,kabupaten,nama_kabupaten_kota,bps_kode_kecamatan,kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,kelurahan,bps_nama_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_nama_desa_kelurahan,periode_update,nik,nama,alamat,kategori,kategori.1,jumlah,satuan,tahun
0,1,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526140,GEGER,GEGER,3526140002,LERPAK,LERPAK,35.26.06,GEGER,35.26.06.2005,LERPAK,TRIWULAN I 2024,3526060000000000,ABD HALIM,DSN GLIMBUR,NaN,-,-,-,2024
1,2,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526070,GALIS,GALIS,3526070004,GALIS,GALIS,35.26.18,GALIS,35.26.18.2007,GALIS,TRIWULAN I 2024,3526180000000000,ABD. ROHMAN,DSN. REMBAH GALIS,NaN,-,-,-,2024
2,3,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526070,GALIS,GALIS,3526070009,LONGKEK,LONGKEK,35.26.18,GALIS,35.26.18.2006,LONGKEK,TRIWULAN I 2024,3526190000000000,ABDUS SYUKUR,DSN. BARAT SUMBER,NaN,-,-,-,2024
3,4,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526140,GEGER,GEGER,3526140006,CAMPOR,CAMPOR,35.26.06,GEGER,35.26.06.2010,CAMPOR,TRIWULAN I 2024,3526060000000000,ACHMAD,DSN POCONG,NaN,-,-,-,2024
4,5,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526090,TRAGAH,TRAGAH,3526090013,TRAGAH,TRAGAH,35.26.14,TRAGAH,35.26.14.2006,TRAGAH,TRIWULAN I 2024,3526140000000000,ACHMAD RIDOI,DSN. BANGGUMOK,NaN,-,-,-,2024

In [10]:
pd.DataFrame(
    data=[
        contoh_tabel.columns,
        data_dinas_sosial.columns,
        data_master_desa.columns
    ],
    index=[
        'Contoh Tabel',
        'Data Dinas Sosial',
        'Data Master Desa'
    ]
).T

,Contoh Tabel,Data Dinas Sosial,Data Master Desa
0,id,id,kode_provinsi
1,kode_provinsi_y,kode_provinsi,nama_provinsi
2,nama_provinsi,nama_provinsi,kode_kabupaten_kota
3,kode_kabupaten_kota,periode_update,nama_kabupaten_kota
4,kabupaten,nik,bps_kode_kecamatan
5,nama_kabupaten_kota,nama,bps_nama_kecamatan
6,bps_kode_kecamatan,alamat,bps_kode_desa_kelurahan
7,kecamatan,provinsi,bps_desa_kelurahan
8,bps_nama_kecamatan,kabupaten,kemendagri_kode_kecamatan
9,bps_kode_desa_kelurahan,kecamatan,kemendagri_nama_kecamatan
10,kelurahan,kelurahan,kemendagri_kode_desa_kelurahan
11,bps_nama_desa_kelurahan,tahun,kemendagri_desa_kelurahan
12,kemendagri_kode_kecamatan,kategori,None
13,kemendagri_nama_kecamatan,jumlah,None
14,kemendagri_kode_desa_kelurahan,satuan,None
15,kemendagri_nama_desa_kelurahan,None,None
16,periode_update,None,None
17,nik,None,None
18,nama,None,None
19,alamat,None,None
20,kategori,None,None
21,kategori.1,None,None
22,jumlah,None,None
23,satuan,None,None
24,tahun,None,None

> *Note*: untuk *header* kolom menggunakan bentuk kecil semua dan isi data menggunakan huruf besar semua.

In [ ]:
tabel = pd.merge(
    left=data_dinas_sosial,
    right=data_master_desa,
    how='left',
    left_on=['kabupaten'],
    right_on=['nama_kabupaten_kota']
)

# tabel = tabel.drop(
#     columns=[
#         'kode_provinsi_x',
#         'nama_provinsi_x'
#     ]
# ).rename(
#     columns={
#         'nama_provinsi_y': 'nama_provinsi',
#         'bps_desa_kelurahan': 'bps_nama_desa_kelurahan',
#         'kemendagri_desa_kelurahan': 'kemendagri_nama_desa_kelurahan',
#         'kategori': 'kategori.1'
#     }
# ).reindex(
#     labels=contoh_tabel.columns,
#     axis=1
# ).sort_values(
#     by='nama',
#     ascending=True
# )

In [15]:
tabel.head(
    n=1
)

,id,kode_provinsi_x,nama_provinsi,periode_update,nik,nama,alamat,provinsi,kabupaten,kecamatan,kelurahan,tahun,kategori,jumlah,satuan,kode_provinsi_y,kode_kabupaten_kota,nama_kabupaten_kota,bps_kode_kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,bps_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_desa_kelurahan
0,1,35,Jawa Timur,Triwulan I 2024,352606000000000000000,ABD HALIM,DSN GLIMBUR,JAWA TIMUR,KAB. BANGKALAN,GEGER,LERPAK,2024,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
contoh_tabel.head(
    n=1
)

,id,kode_provinsi_y,nama_provinsi,kode_kabupaten_kota,kabupaten,nama_kabupaten_kota,bps_kode_kecamatan,kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,kelurahan,bps_nama_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_nama_desa_kelurahan,periode_update,nik,nama,alamat,kategori,kategori.1,jumlah,satuan,tahun
0,1,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526140,GEGER,GEGER,3526140002,LERPAK,LERPAK,35.26.06,GEGER,35.26.06.2005,LERPAK,TRIWULAN I 2024,3526060000000000,ABD HALIM,DSN GLIMBUR,NaN,-,-,-,2024

## 2 | *Check Null*

> Lakukan *check* pada data tersebut apakah ada kolom nilai *null* atau tidak.

## 3 | *Data Cleansing*

> Jika ada nilai null lakukan cleansing data pada table yang sudah dilakukan join sehingga meminimalisir nilai null.

## 4 | *Addendum*

> Buatlah coding cleansing dengan bahasa python. Asumsikan akan melakukan cleansing data pada data yang jumlahnya besar dan beragam sehingga buatlah algoritma coding yang bisa digunakan untuk banyak case data.

> Buatlah penjelasan cleansing data yang Anda lakukan dari problem dan solusi yang diberikan.

> Untuk bentuk tablenya lihat di sheet selanjutnya.

> Untuk coding python mohon kumpulkan file dalam bentuk file python (.ipynb) dan untuk analysisnya boleh dalam bentuk word atau di file python tersebut. 

> "Syarat dan ketentuan tugas: Buatlah dalam format PPT (canva/google slide) maksimal 15 slides. Kirimkan link PPT/drive ke gform Pendaftaran Magang Mandiri SEAL Batch 2 2025 Batas maksimal pengumpulan 3 hari