<h1 style='text-align: center'> SEAL Data Scientist Technical Test </h1>
<h3 style='text-align: center; font-style: italic'> Oleh: Garudapaksi Yusuf </h3>

---

## 1 | *Table Creation*

### Data ETL

[Extract, transform, load](https://en.wikipedia.org/wiki/Extract,_transform,_load) (ETL) adalah tiga fase pemrosesan data yang terdiri dari:
1. **Ekstraksi dari sumber data**: dalam *project* ini, secara langsung data diekstraksi dari *source* yang disediakan,
2. **Transformasi dalam format yang sesuai**: karena data tersedia dalam format `.csv` dan `xlsx` —dan untuk memudahkan proses analisa—, proses transformasi data akan menggunakan library Pandas untuk mengubah format data dalam bentuk DataFrame, dan
3. ***Load* ke data *container***: berupa *variable instance* dalam bahasa pemrograman Python.

*Catatan:*
* *Source data dan instruksi: [Google Drive](https://drive.google.com/drive/folders/16e052sYcXIIhrOVQJ86G_S12SGqrlp96?usp=sharing).*
* *Dikutip dari `Data Scientist Techncial Test.xlsx` yang tersedia pada folder `docs` dari repository ini dengan sedikit modifikasi untuk memudahkan pemahaman.*

> Buatlah *table* seperti berikut dari data dinas sosial dan data *master* desa:

In [1]:
# Import library yang dibutuhkan untuk mengakses contoh table
import pandas as pd

# Mengakses contoh table yang tersedia dalam format .xlsx
bentuk_table = pd.read_excel(
    io='../docs/Data Scientist Techncial Test.xlsx', # Letak dan nama file dari contoh table
    sheet_name='bentuk table', # Nama sheet dari contoh table
)

In [2]:
# Pengaturan untuk library Pandas 
pd.set_option(
    'display.max_columns', # Batasan untuk jumlah kolom yang ditampilkan
    None # Dihilangkan karena beberapa kolom disembunyikan dengan tampilan '...' 
) 
                                           
# Menampilkan 'n' baris pertama dari bentuk_table untuk memudahkan analisis                                                     
bentuk_table.head( 
    n=5
)

,id,kode_provinsi_y,nama_provinsi,kode_kabupaten_kota,kabupaten,nama_kabupaten_kota,bps_kode_kecamatan,kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,kelurahan,bps_nama_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_nama_desa_kelurahan,periode_update,nik,nama,alamat,kategori,kategori.1,jumlah,satuan,tahun
0,1,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526140,GEGER,GEGER,3526140002,LERPAK,LERPAK,35.26.06,GEGER,35.26.06.2005,LERPAK,TRIWULAN I 2024,3526060000000000,ABD HALIM,DSN GLIMBUR,NaN,-,-,-,2024
1,2,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526070,GALIS,GALIS,3526070004,GALIS,GALIS,35.26.18,GALIS,35.26.18.2007,GALIS,TRIWULAN I 2024,3526180000000000,ABD. ROHMAN,DSN. REMBAH GALIS,NaN,-,-,-,2024
2,3,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526070,GALIS,GALIS,3526070009,LONGKEK,LONGKEK,35.26.18,GALIS,35.26.18.2006,LONGKEK,TRIWULAN I 2024,3526190000000000,ABDUS SYUKUR,DSN. BARAT SUMBER,NaN,-,-,-,2024
3,4,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526140,GEGER,GEGER,3526140006,CAMPOR,CAMPOR,35.26.06,GEGER,35.26.06.2010,CAMPOR,TRIWULAN I 2024,3526060000000000,ACHMAD,DSN POCONG,NaN,-,-,-,2024
4,5,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526090,TRAGAH,TRAGAH,3526090013,TRAGAH,TRAGAH,35.26.14,TRAGAH,35.26.14.2006,TRAGAH,TRIWULAN I 2024,3526140000000000,ACHMAD RIDOI,DSN. BANGGUMOK,NaN,-,-,-,2024

*Catatan*:
* *Indeks tabel yang ditampilkan mulai dari `0-4` pada contoh tabel di atas adalah indeks yang ditampilkan dari Pandas (menggunakan sistem [0-indexing](https://pandas.pydata.org/docs/user_guide/indexing.html) yang dimulai dari angka 0), sedangkan*
* *Kolom `id` dengan nilai yang hampir serupa —mulai dari `1-5`— merupakan indeks yang disediakan dari `bentuk_table`.*

Berikutnya, `bentuk_table` di atas akan dibandingkan dengan data dinas sosial dan data *master* desa yang tersedia pada folder `data`:

In [3]:
# Mengakses data dinas sosial dalam format .csv
data_dinsos_csv = pd.read_csv(
    filepath_or_buffer='../data/Data Dinas Sosial.csv',
    sep=';', # Character yang digunakan sebagai delimiter/separator
)

# Dan dalam format .xlsx
data_dinsos_xlsx = pd.read_excel(
    io='../data/Data Dinas Sosial.xlsx',
)

# Mengakses data master desa
data_master_desa = pd.read_csv(
    filepath_or_buffer='../data/masterdesa.csv',
    sep=';'
)

In [4]:
# Menampilkan 5 baris pertama dari 'Data Dinas Sosial.csv'
data_dinsos_csv.head(
    n=5
)

,id,kode_provinsi,nama_provinsi,periode_update,nik,nama,alamat,provinsi,kabupaten,kecamatan,kelurahan,tahun,kategori,jumlah,satuan
0,1,35,Jawa Timur,Triwulan I 2024,"3,52606E+15",ABD HALIM,DSN GLIMBUR,JAWA TIMUR,KAB. BANGKALAN,GEGER,LERPAK,2024,-,-,-
1,2,35,Jawa Timur,Triwulan I 2024,"3,52618E+15",ABD. ROHMAN,DSN. REMBAH GALIS,JAWA TIMUR,KAB. BANGKALAN,GALIS,GALIS,2024,-,-,-
2,3,35,Jawa Timur,Triwulan I 2024,"3,52619E+15",ABDUS SYUKUR,DSN. BARAT SUMBER,JAWA TIMUR,KAB. BANGKALAN,GALIS,LONGKEK,2024,-,-,-
3,4,35,Jawa Timur,Triwulan I 2024,"3,52606E+15",ACHMAD,DSN POCONG,JAWA TIMUR,KAB. BANGKALAN,GEGER,CAMPOR,2024,-,-,-
4,5,35,Jawa Timur,Triwulan I 2024,"3,52614E+15",ACHMAD RIDOI,DSN. BANGGUMOK,JAWA TIMUR,KAB. BANGKALAN,TRAGAH,TRAGAH,2024,-,-,-

In [5]:
# Menampilkan 5 baris pertama dari 'Data Dinas Sosial.xlsx'
data_dinsos_xlsx.head(
    n=5
)

,id,kode_provinsi,nama_provinsi,periode_update,nik,nama,alamat,provinsi,kabupaten,kecamatan,kelurahan,tahun,kategori,jumlah,satuan
0,1,35,Jawa Timur,Triwulan I 2024,352606000000000000000,ABD HALIM,DSN GLIMBUR,JAWA TIMUR,KAB. BANGKALAN,GEGER,LERPAK,2024,-,-,-
1,2,35,Jawa Timur,Triwulan I 2024,352618000000000000000,ABD. ROHMAN,DSN. REMBAH GALIS,JAWA TIMUR,KAB. BANGKALAN,GALIS,GALIS,2024,-,-,-
2,3,35,Jawa Timur,Triwulan I 2024,352619000000000032768,ABDUS SYUKUR,DSN. BARAT SUMBER,JAWA TIMUR,KAB. BANGKALAN,GALIS,LONGKEK,2024,-,-,-
3,4,35,Jawa Timur,Triwulan I 2024,352606000000000000000,ACHMAD,DSN POCONG,JAWA TIMUR,KAB. BANGKALAN,GEGER,CAMPOR,2024,-,-,-
4,5,35,Jawa Timur,Triwulan I 2024,352614000000000000000,ACHMAD RIDOI,DSN. BANGGUMOK,JAWA TIMUR,KAB. BANGKALAN,TRAGAH,TRAGAH,2024,-,-,-

**Observasi:**

Sekilas tampak bahwa isi dari kedua format dari data dinas sosial `dinsos` pada tiap kolom hampir serupa.
* Kecuali pada kolom `nik` yang ditampilkan dalam format *scientific* (menggunakan notasi `E` untuk menampilkan bilangan numerik) pada `dinsos_csv`, dan menggunakan format numerik pada `dinsos_xlsx`.
* Untuk memudahkan perbandingan, tahapan berikutnya akan mengubah nilai `nik` pada `dinsos_csv` ke dalam format numerik.

Sebelum proses transformasi tersebut dimulai, pertama-tama perlu dilihat terlebih dahulu nilai-nilai yang ada pada kolom tersebut:

In [6]:
# Menunjukkan nilai unik pada kolom 'nik' dalam `dinsos_csv`
data_dinsos_csv['nik'].unique()

array(['3,52606E+15', '3,52618E+15', '3,52619E+15', '3,52614E+15',
       '3,52604E+15', '3,52613E+15', '3,52603E+15', '3,52608E+15',
       '3,52607E+15', '3,5261E+15', '3,52601E+15', '3,52605E+15',
       '3,57805E+15', '3,52616E+15', '3,57804E+15', '3,52612E+15',
       '3,52617E+15', '3,52666E+15', '3,51324E+15', '3,52602E+15',
       '3,51019E+15', '3,51005E+15', '3,51016E+15', '3,51007E+15',
       '3,52211E+15', '3,51006E+15', '3,51021E+15', '3,51012E+15',
       '3,51003E+15', '3,51017E+15', '3,51009E+15', '3,51022E+15',
       '3,51014E+15', '3,51011E+15', '3,5102E+15', '3,51013E+15',
       '3,51001E+15', '3,51024E+15', '3,51015E+15', '3,51008E+15',
       '3,51002E+15', '3,51004E+15', '3,5101E+15', '3,51518E+15',
       '3,50502E+15', '3,50507E+15', '3,50505E+15', '3,50503E+15',
       '3,50509E+15', '3,50516E+15', '3,50508E+15', '3,50504E+15',
       '3,50518E+15', '3,50506E+15', '3,5051E+15', '3,50519E+15',
       '3,50306E+15', '3,50601E+15', '3,5222E+15', '3,52204E+15',
       '3,52202E+15', '3,52212E+15', '3,52219E+15', '3,52215E+15',
       '3,52206E+15', '3,52214E+15', '3,52213E+15', '3,52225E+15',
       '3,52228E+15', '3,52209E+15', '3,52208E+15', '3,52205E+15',
       '3,52224E+15', '3,52201E+15', '3,5221E+15', '3,52203E+15',
       '3,52227E+15', '3,52216E+15', '3,52222E+15', '3,52207E+15',
       '3,20931E+15', '3,52223E+15', '6,47301E+15', '3,52221E+15',
       '3,52229E+15', '3,51103E+15', '3,51121E+15', '3,51122E+15',
       '3,51113E+15', '3,51106E+15', '3,51109E+15', '3,51114E+15',
       '3,51115E+15', '3,5111E+15', '3,51206E+15', '3,51105E+15',
       '3,51111E+15', '3,511E+15', '3,51107E+15', '3,41107E+15',
       '3,51108E+15', '3,51117E+15', '3,5112E+15', '3,51116E+15',
       '3,51104E+15', '3,51123E+15', '3,37503E+15', '3,51102E+15',
       '3,51112E+15', '3,51118E+15', '3,51101E+15', '3,52502E+15',
       '3,52505E+15', '3,52503E+15', '3,52516E+15', '3,52512E+15',
       '3,52506E+15', '3,52501E+15', '3,52504E+15', '3,52514E+15',
       '3,52517E+15', '3,5251E+15', '3,52513E+15', '3,52507E+15',
       '3,52511E+15', '3,52515E+15', '3,52419E+15', '3,52508E+15',
       '9,10901E+15', '3,52509E+15', '6,40204E+15', '3,50902E+15',
       '3,59091E+15', '3,50917E+15', '3,50904E+15', '3,50913E+15',
       '3,50925E+15', '3,50907E+15', '3,50903E+15', '3,50916E+15',
       '3,50918E+15', '3,50921E+15', '3,50912E+15', '3,5092E+15',
       '3,50915E+15', '3,5093E+15', '3,50906E+15', '3,5091E+15',
       '3,50905E+15', '3,50909E+15', '3,50923E+15', '3,50903E+14',
       '3,50919E+15', '3,50931E+15', '3,50922E+15', '3,50928E+15',
       '3,50911E+15', '3,50911E+14', '3,50929E+15', '3,51714E+15',
       '3,5171E+15', '3,51711E+15', '3,51702E+15', '3,51722E+15',
       '3,51715E+15', '3,51811E+15', '3,51717E+15', '3,51701E+15',
       '3,51708E+15', '3,51707E+15', '3,51713E+15', '3,51712E+15',
       '3,51709E+15', '3,51705E+15', '3,57809E+15', '3,51703E+15',
       '3,51719E+15', '3,51718E+15', '3,5172E+15', '3,51721E+15',
       '3,51706E+15', '3,51704E+15', '3,51911E+15', '3,3271E+15',
       '1,80309E+15', '3,51716E+15', '3,50623E+15', '3,5062E+15',
       '3,50605E+15', '3,50608E+15', '3,50606E+15', '3,50603E+15',
       '3,50602E+15', '3,5061E+15', '3,50617E+15', '3,50604E+15',
       '3,50614E+15', '3,50615E+15', '3,50611E+15', '3,50607E+15',
       '3,50612E+15', '3,50621E+15', '3,50626E+15', '3,57802E+15',
       '3,50621E+14', '3,50625E+15', '3,51513E+15', '3,50609E+15',
       '3,50632E+13', '3,50613E+15', '3,57827E+15', '3,50624E+15',
       '3,50626E+14', '1,20602E+15', '3,50616E+15', '3,50622E+15',
       '3,37305E+15', '3,57903E+15', '3,57902E+15', '3,57904E+15',
       '3,57901E+15', '3,57201E+15', '3,57203E+15', '3,57202E+15',
       '3,57816E+15', '3,57204E+15', '3,57104E+15', '3,57103E+15',
       '3,57102E+15', '3,57101E+15', '1,20507E+15', '3,57303E+15',
       '3,31306E+15', '3,57701E+15', '3,57703E+15', '3,57702E+15',
       '3,57704E+15', '3,50315E+15', '3,40104E+15', '3,67701E+15',
       '3,17408E+15', '3,51904E+15', '3,21608E+15', '3,57306E+15',
       '3,57304E+15', '3,50718E+15', '3,57302E+15', '3,57301E+15',
       '3,52805E+15', '3,57305E+15', '3,50722E+15', '3,51903E+15',
       '3,57395E+15', '3,51401E+15', '3,50721E+15', '3,50726E+15',
       '3,51307E+15', '3,52901E+15', '3,57602E+15', '3,57601E+15',
       '3,51613E+15', '3,57603E+15', '3,51612E+15', '3,57503E+15',
       '3,57501E+15', '3,57504E+15', '3,57505E+15', '3,50705E+15',
       '3,57502E+15', '3,57502E+16', '3,57406E+15', '3,57402E+15',
       '3,57405E+15', '3,57404E+15', '3,57403E+15', '3,57401E+15',
       '3,51318E+15', '3,57829E+15', '3,57815E+15', '3,57819E+15',
       '3,57806E+15', '3,57812E+15', '3,57818E+15', '3,57824E+15',
       '3,5781E+15', '3,5031E+15', '3,5782E+15', '3,57826E+15',
       '3,57831E+15', '3,57823E+15', '3,57801E+15', '4,57829E+15',
       '3,57814E+15', '3,57821E+15', '3,57813E+15', '3,52702E+15',
       '3,57817E+15', '3,57825E+15', '3,57807E+15', '3,57828E+15',
       '3,5241E+15', '3,52706E+15', '3,57832E+15', '3,57808E+15',
       '3,52415E+15', '3,52418E+15', '3,50515E+15', '3,52427E+15',
       '3,52422E+15', '3,52402E+15', '3,52412E+15', '3,52416E+15',
       '3,52406E+15', '3,52423E+15', '3,52424E+15', '3,52409E+15',
       '3,52404E+15', '3,52411E+15', '3,52417E+15', '3,52407E+15',
       '3,52413E+15', '3,52425E+15', '3,5242E+15', '3,52405E+15',
       '3,52426E+15', '3,52414E+15', '3,52408E+15', '3,52401E+15',
       '3,52403E+15', '3,52421E+15', '3,52428E+15', '3,53412E+15',
       '3,50821E+15', '3,50812E+15', '3,50803E+15', '3,5081E+15',
       '3,50814E+15', '3,50819E+15', '3,50804E+15', '3,50811E+15',
       '3,50807E+15', '3,5082E+15', '3,50818E+15', '3,50808E+15',
       '3,50806E+15', '3,50816E+15', '3,50805E+15', '3,50815E+15',
       '3,50817E+15', '3,51741E+16', '3,51905E+15', '3,51912E+15',
       '3,51915E+15', '3,51906E+15', '3,51908E+15', '3,51916E+15',
       '1,40412E+15', '3,5191E+15', '3,51909E+15', '3,51902E+15',
       '3,51907E+15', '3,51901E+15', '3,51913E+15', '3,51914E+15',
       '6,40804E+15', '3,52109E+15', '1,81206E+15', '3,5072E+15',
       '3,52101E+15', '3,52003E+15', '3,52009E+15', '3,52015E+15',
       '3,52002E+15', '3,52017E+15', '3,52006E+15', '3,52014E+15',
       '3,52012E+15', '3,50213E+15', '3,52011E+15', '3,52016E+15',
       '3,5201E+15', '3,52019E+15', '3,52004E+15', '3,52005E+15',
       '3,52013E+15', '3,52008E+15', '3,52007E+15', '3,52018E+15',
       '3,52312E+15', '3,52072E+14', '3,51517E+15', '3,52017E+14',
       '3,50704E+15', '3,5071E+15', '3,50711E+15', '3,5073E+15',
       '3,50725E+15', '3,50731E+15', '3,50728E+15', '9,27105E+15',
       '3,50707E+15', '3,50716E+15', '3,50727E+15', '3,50701E+15',
       '3,50723E+15', '3,50712E+15', '3,50706E+15', '3,50719E+15',
       '3,50717E+15', '3,50724E+15', '3,50702E+15', '3,50708E+15',
       '3,51607E+15', '3,51611E+15', '3,51617E+15', '3,51618E+15',
       '3,51616E+15', '3,5161E+15', '3,51619E+15', '3,51615E+15',
       '3,51608E+15', '3,51606E+15', '3,51602E+15', '3,51604E+15',
       '3,51601E+15', '3,51605E+15', '3,51603E+15', '3,51609E+15',
       '3,51807E+15', '3,51808E+15', '3,51805E+15', '3,52801E+15',
       '3,51813E+15', '3,51816E+15', '3,51809E+15', '3,51801E+15',
       '3,51803E+15', '3,51804E+15', '3,51817E+15', '3,20102E+15',
       '3,51814E+15', '3,5181E+15', '3,51819E+15', '3,51806E+15',
       '3,51802E+15', '3,51815E+15', '3,51812E+15', '3,51818E+15',
       '3,51519E+15', '3,50627E+15', '3,52111E+15', '3,60415E+15',
       '3,52115E+15', '3,52117E+15', '3,52103E+15', '3,52112E+15',
       '3,5211E+15', '3,52114E+15', '3,52102E+15', '3,52104E+15',
       '3,17405E+15', '3,52113E+15', '3,52105E+15', '3,52119E+15',
       '3,5212E+15', '3,17406E+15', '3,21223E+15', '3,52106E+15',
       '3,31303E+15', '1,80105E+15', '3,52107E+15', '3,52108E+15',
       '3,521E+15', '3,52116E+15', '3,17505E+15', '3,31604E+15',
       '3,52036E+15', '3,52118E+15', '3,50112E+15', '3,50101E+15',
       '3,5011E+15', '3,50104E+15', '3,50107E+15', '3,50108E+15',
       '3,50111E+15', '3,50105E+15', '1,80806E+15', '3,50106E+15',
       '3,50102E+15', '3,20908E+15', '3,50103E+15', '3,50109E+15',
       '3,52804E+15', '3,5281E+15', '3,52812E+15', '3,52802E+15',
       '3,528E+15', '3,52803E+15', '3,52808E+15', '3,52807E+15',
       '3,52809E+15', '3,52806E+15', '3,17506E+15', '3,52813E+15',
       '3,58207E+15', '3,51406E+15', '3,51421E+15', '3,51405E+15',
       '3,5142E+15', '3,51424E+15', '3,51417E+15', '3,51418E+15',
       '3,51402E+15', '3,51412E+15', '3,51419E+15', '3,51413E+15',
       '3,50514E+15', '3,51408E+15', '3,51423E+15', '3,51403E+15',
       '3,15142E+15', '3,51416E+15', '3,50715E+15', '3,51409E+15',
       '3,51415E+15', '3,51422E+15', '3,51411E+15', '3,51404E+15',
       '3,57822E+15', '3,50211E+15', '3,50215E+15', '3,50216E+15',
       '3,5022E+15', '3,50205E+15', '3,50214E+15', '3,50219E+15',
       '3,50212E+15', '3,50218E+15', '3,50217E+15', '3,50221E+15',
       '3,50202E+15', '3,50207E+15', '3,50208E+15', '3,57811E+15',
       '3,50206E+15', '1,40116E+15', '3,50201E+15', '3,5021E+15',
       '3,59212E+15', '3,51309E+15', '3,51321E+15', '3,51323E+15',
       '3,51304E+15', '3,51316E+15', '3,51301E+15', '3,5132E+15',
       '3,51319E+15', '3,51305E+15', '3,51314E+15', '3,51302E+15',
       '3,51317E+15', '3,51308E+15', '3,51322E+15', '3,51311E+15',
       '3,51313E+15', '3,51315E+15', '3,51312E+15', '3,5131E+15',
       '3,51303E+15', '3,51306E+15', '3,51304E+14', '3,51325E+15',
       '3,51309E+14', '3,52701E+15', '3,51322E+16', '3,52712E+15',
       '3,52707E+15', '3,52711E+15', '3,52713E+15', '3,52708E+15',
       '3,52705E+15', '3,52703E+15', '3,52708E+14', '3,52704E+15',
       '`3527035109120002', '`3527011712100001', '`3527032603020002',
       '3,51512E+15', '3,51507E+15', '3,51505E+15', '3,51514E+15',
       '3,51516E+15', '3,51511E+15', '3,51515E+15', '3,51502E+15',
       '3,5151E+15', '3,51503E+15', '3,51508E+15', '3,51509E+15',
       '3,51504E+15', '3,51506E+15', '3,51208E+15', '3,51211E+15',
       '3,51202E+15', '3,51207E+15', '3,51209E+15', '3,51212E+15',
       '3,51204E+15', '9,10909E+15', '3,51216E+15', '3,52919E+15',
       '3,51213E+15', '3,51217E+15', '3,51203E+15', '3,51218E+15',
       '3,67205E+15', '3,5121E+15', '3,51205E+15', '3,52902E+15',
       '3,52912E+15', '3,5291E+15', '3,52908E+15', '3,52913E+15',
       '3,52911E+15', '3,52903E+15', '3,52909E+15', '3,52904E+15',
       '3,5292E+15', '3,52906E+15', '2,10116E+15', '3,52918E+15',
       '3,52917E+15', '3,52916E+15', '3,52905E+15', '3,52907E+15',
       '3,52926E+15', '3,50301E+15', '3,50308E+15', '3,50304E+15',
       '3,50309E+15', '3,50313E+15', '3,50305E+15', '3,50312E+15',
       '3,50303E+15', '3,50307E+15', '3,50302E+15', '3,50311E+15',
       '3,50314E+15', '3,30318E+15', "'3503125502060001", '3,52317E+15',
       '3,52301E+15', '3,52311E+15', '3,52307E+15', '3,52308E+15',
       '3,52316E+15', '3,5141E+15', '3,52315E+15', '6,40213E+15',
       '3,52303E+15', '3,52314E+15', '3,5231E+15', '3,52309E+15',
       '3,52321E+15', '3,52313E+15', '3,52318E+15', '3,5232E+15',
       '1,22304E+15', '3,52302E+15', '3,52319E+15', '3,50411E+15',
       '3,50403E+15', '3,50415E+15', '3,50405E+15', '3,50414E+15',
       '3,60409E+15', '3,5041E+15', '3,50409E+15', '3,50406E+15',
       '3,50404E+15', '3,50401E+15', '3,50419E+15', '3,50402E+15',
       '3,50418E+15', '3,50408E+15', '3,50413E+15', '3,50407E+15',
       '3,50412E+15', '3,50417E+15', '3,30604E+15'], dtype=object)

**Observasi:**

Nilai pada kolom tersebut memiliki `dtype` atau tipe data `object`.
* Contoh format nilai yang sering ditemui pada kolom ini adalah `3,52606E+15`.
* Ditemukan juga beberapa format lain seperti `` `3527035109120002 `` dan `'3503125502060001`.

Untuk menyesuaikan nilai-nilai tersebut dengan format *scientific* yang umumnya berlaku, maka karakter-karakter berikut perlu dimodifikasi:

In [7]:
# Mengganti karakter tertentu pada kolom 'nik' dalam 'data_dinsos_csv' 
data_dinsos_csv['nik'] = data_dinsos_csv['nik'].replace(
    to_replace={
        ',': '.',
        '`': '',
        "'": ''
    },
    regex=True # Mengimplementasikan regular expression pada parameter 'to_replace'
)

Setelah menggunakan format yang sesuai, nilai-nilai yang masih menggunakan tipe data *object* dapat dikonversi ke dalam tipe data *numeric*:

In [8]:
# Mengonversi tipe data pada kolom 'nik' dalam 'data_dinsos_csv'
data_dinsos_csv['nik'] = pd.to_numeric( # Ke tipe data numeric
    arg=data_dinsos_csv['nik']
)

data_dinsos_csv['nik'].dtype

dtype('float64')

Terakhir, nilai yang masih menggunakan tipe data `float` diubah menjadi tipe data `int`:

In [ ]:
# Mengubah tipe data pada kolom 'nik' dalam 'data_dinsos_csv'
data_dinsos_csv['nik'] = data_dinsos_csv['nik'].astype( 
    dtype=int # Menjadi tipe data 'int'
)

Analisis berikutnya menggunakan fungsi bawaan pandas yakni `equals()` untuk mengetahui lebih jauh kemiripan dari kedua format data tersebut:
* Fungsi tersebut membandingkan kemiripan bentuk (jumlah baris dan kolom) serta isi (baik dari segi lokasi *missing value* maupun tipe data) dari dua DataFrame.
* *Output* yang dihasilkan adalah *boolean* yang mengindikasikan apakah semua elemen dalam kedua DataFrame sama atau tidak.

In [10]:
pd.DataFrame( # Membuat DataFrame instance
    data={ # Dengan isi sesuai yang diatur dalam parameter 'data'
        'dinsos_csv': data_dinsos_csv.columns, # Daftar nama kolom pada variabel 'dinsos_csv'
        'equal': [data_dinsos_csv[column_csv].equals(
            other=data_dinsos_xlsx[column_xlsx]
        ) for column_csv, column_xlsx in zip(data_dinsos_csv.columns, data_dinsos_xlsx.columns)],
        'dinsos_xlsx': data_dinsos_xlsx.columns # Daftar nama kolom pada variabel 'dinsos_xlsx'
    }
)

        dinsos_csv  equal     dinsos_xlsx
0               id   True              id
1    kode_provinsi   True   kode_provinsi
2    nama_provinsi   True   nama_provinsi
3   periode_update   True  periode_update
4              nik  False             nik
5             nama   True            nama
6           alamat   True          alamat
7         provinsi   True        provinsi
8        kabupaten   True       kabupaten
9        kecamatan   True       kecamatan
10       kelurahan   True       kelurahan
11           tahun   True           tahun
12        kategori   True        kategori
13          jumlah   True          jumlah
14          satuan   True          satuan

**Observasi:**
* Hasil analisis menunjukkan kemiripan dimensi dan elemen dari kedua format data dinas sosial:
    * Jumlah dan nama kolom dari kedua format tersebut adalah serupa, serta
    * Isi dari tiap-tiap kolom tersebut adalah sama —yang ditunjukkan dari nilai kolom `equal` pada DataFrame di atas yang bernilai `True` untuk masing-masing pasangan kolom—, kecuali pada pasangan kolom `nik`.
    * Telah ditunjukkan secara sekilas dalam 5 baris pertama pada tiap format data tersebut, bahwa kolom `nik` dari `dinsos.csv` ditampilkan dalam format *scientific* (menggunakan notasi `E` untuk menampilkan bilangan numerik). Sedangkan `dinsos_xlsx` secara *domain knowledge* yang umum diketahui menggunakan format yang seharusnya (berupa 16 digit angka NIK).
* Berdasarkan temuan-temuan ini, diputuskan untuk menggunakan `dinsos.xlsx` sebagai format yang representatif untuk data dinas sosial. Juga ditampilkan sumber data lainnya yakni data master desa.

In [11]:
# Membuat variable instance baru 
data_dinas_sosial = data_dinsos_xlsx # Dari format data dinas sosial yang akan digunakan

data_dinas_sosial.head(
    n=5
)

,id,kode_provinsi,nama_provinsi,periode_update,nik,nama,alamat,provinsi,kabupaten,kecamatan,kelurahan,tahun,kategori,jumlah,satuan
0,1,35,Jawa Timur,Triwulan I 2024,352606000000000000000,ABD HALIM,DSN GLIMBUR,JAWA TIMUR,KAB. BANGKALAN,GEGER,LERPAK,2024,-,-,-
1,2,35,Jawa Timur,Triwulan I 2024,352618000000000000000,ABD. ROHMAN,DSN. REMBAH GALIS,JAWA TIMUR,KAB. BANGKALAN,GALIS,GALIS,2024,-,-,-
2,3,35,Jawa Timur,Triwulan I 2024,352619000000000032768,ABDUS SYUKUR,DSN. BARAT SUMBER,JAWA TIMUR,KAB. BANGKALAN,GALIS,LONGKEK,2024,-,-,-
3,4,35,Jawa Timur,Triwulan I 2024,352606000000000000000,ACHMAD,DSN POCONG,JAWA TIMUR,KAB. BANGKALAN,GEGER,CAMPOR,2024,-,-,-
4,5,35,Jawa Timur,Triwulan I 2024,352614000000000000000,ACHMAD RIDOI,DSN. BANGGUMOK,JAWA TIMUR,KAB. BANGKALAN,TRAGAH,TRAGAH,2024,-,-,-

In [12]:
# Menampilkan 5 baris pertama dari data master desa
data_master_desa.head(
    n=5
)

,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,bps_kode_kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,bps_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_desa_kelurahan
0,35,JAWA TIMUR,3501,KABUPATEN PACITAN,3501010,DONOROJO,3501010001,WIDORO,35.01.01,DONOROJO,35.01.01.2001,WIDORO
1,35,JAWA TIMUR,3501,KABUPATEN PACITAN,3501010,DONOROJO,3501010002,SAWAHAN,35.01.01,DONOROJO,35.01.01.2002,SAWAHAN
2,35,JAWA TIMUR,3501,KABUPATEN PACITAN,3501010,DONOROJO,3501010003,KALAK,35.01.01,DONOROJO,35.01.01.2003,KALAK
3,35,JAWA TIMUR,3501,KABUPATEN PACITAN,3501010,DONOROJO,3501010004,SENDANG,35.01.01,DONOROJO,35.01.01.2004,SENDANG
4,35,JAWA TIMUR,3501,KABUPATEN PACITAN,3501010,DONOROJO,3501010005,KLEPU,35.01.01,DONOROJO,35.01.01.2005,KLEPU

Setelah proses ETL berhasil dilakukan, data tersebut dibandingkan dengan `bentuk_table` yang disediakan untuk membuat *table* dengan format yang sesuai.

### Data Comparison

Berikut disertakan DataFrame yang berisikan daftar nama kolom pada `bentuk_table` dengan `data_dinas_sosial` dan `data_master_desa`:

In [13]:
pd.DataFrame(
    # Label/nama kolom pada tiap data
    data=[
        bentuk_table.columns, 
        data_dinas_sosial.columns,
        data_master_desa.columns
    ],
    # Indeks untuk tiap daftar nama kolom
    index=[
        'bentuk_table',
        'data_dinas_sosial',
        'data_master_desa'
    ]
).T # Transpose DataFrame untuk memudahkan analisis

,bentuk_table,data_dinas_sosial,data_master_desa
0,id,id,kode_provinsi
1,kode_provinsi_y,kode_provinsi,nama_provinsi
2,nama_provinsi,nama_provinsi,kode_kabupaten_kota
3,kode_kabupaten_kota,periode_update,nama_kabupaten_kota
4,kabupaten,nik,bps_kode_kecamatan
5,nama_kabupaten_kota,nama,bps_nama_kecamatan
6,bps_kode_kecamatan,alamat,bps_kode_desa_kelurahan
7,kecamatan,provinsi,bps_desa_kelurahan
8,bps_nama_kecamatan,kabupaten,kemendagri_kode_kecamatan
9,bps_kode_desa_kelurahan,kecamatan,kemendagri_nama_kecamatan
10,kelurahan,kelurahan,kemendagri_kode_desa_kelurahan
11,bps_nama_desa_kelurahan,tahun,kemendagri_desa_kelurahan
12,kemendagri_kode_kecamatan,kategori,None
13,kemendagri_nama_kecamatan,jumlah,None
14,kemendagri_kode_desa_kelurahan,satuan,None
15,kemendagri_nama_desa_kelurahan,None,None
16,periode_update,None,None
17,nik,None,None
18,nama,None,None
19,alamat,None,None
20,kategori,None,None
21,kategori.1,None,None
22,jumlah,None,None
23,satuan,None,None
24,tahun,None,None

**Observasi:**
* Beberapa kolom yang dibutuhkan untuk membuat *table* sesuai acuan dari `bentuk_table` hanya ditemukan persis satu di `data_dinas_sosial` maupun `data_master_desa`.
    * Seperti kolom `id`, `kode_kabupaten_kota`, dan `bps_kode_kecamatan`.
    * Sehingga terdapat kemungkinan untuk melakukan penggabungan atau *merge* dari dua sumber data ini.
* Namun proses penggabungan DataFrame membutuhkan *key*: data beserta kolomnya yang identik pada DataFrame yang hendak digabungkan.
    * Meskipun kedua kolom `kode_provinsi` pada masing-masing sumber data identik, tetapi `bentuk_table` menunjukkan bahwa `kode_provinsi` yang digunakan memiliki imbuhan `_y` —menandakan bahwa kolom ini berasal dari DataFrame kedua yang hendak digabungkan—, sehingga kolom ini tidak dijadikan *key* untuk membuat tabel baru.
    * *Merge umumnya menambahkan imbuhan di akhir nama kolom untuk dua kolom dengan nama yang sama dan akan digabungkan, sehingga imbuhan tersebut menandakan dari DataFrame mana asalnya.*
    * Dengan demikian, kolom yang akan ditentukan sebagai `key` adalah:
        1. Kolom `nama_provinsi`,
        2. Pasangan kolom `kabupaten` dan `nama_kabupaten_kota`,
        3. Antara `kecamatan` dengan `bps_nama_kecamatan` atau `kemendagri_nama_kecamatan`, dan 
        4. Antara `kelurahan` dengan `bps_desa_kelurahan` atau `kemendagri_nama_desa_kelurahan`.
    * Khusus untuk nomor 3 dan 4, analisis berikut akan menentukan pasangan kolom mana yang akan digunakan sebagai `key` berikutnya:

In [14]:
# Jumlah dari elemen dalam kolom 'kecamatan' dan 'kelurahan'
kecamatan_len = len(data_dinas_sosial['kecamatan'])
kelurahan_len = len(data_dinas_sosial['kelurahan'])

# Jumlah dari elemen tiap kolom yang berada pada kolom 'bps_' dan 'kemendagri'
kecamatan_bps_len = len(data_dinas_sosial[data_dinas_sosial['kecamatan'].isin(values=data_master_desa['bps_nama_kecamatan'])])
kelurahan_bps_len = len(data_dinas_sosial[data_dinas_sosial['kelurahan'].isin(values=data_master_desa['bps_desa_kelurahan'])])
kecamatan_kemendagri_len = len(data_dinas_sosial[data_dinas_sosial['kecamatan'].isin(values=data_master_desa['kemendagri_nama_kecamatan'])])
kelurahan_kemendagri_len = len(data_dinas_sosial[data_dinas_sosial['kelurahan'].isin(values=data_master_desa['kemendagri_desa_kelurahan'])])

pd.DataFrame(
    data=[
        (kecamatan_len, kelurahan_len),
        (kecamatan_bps_len, kelurahan_bps_len),
        (kecamatan_kemendagri_len, kelurahan_kemendagri_len)
    ],
    index=[
        'len()',
        'isin(bps_)',
        'isin(kemendagri_)'
    ],
    # Nama untuk tiap kolom pada DataFrame instance berikut
    columns=[
        'kecamatan',
        'kelurahan'
    ]
)

                   kecamatan  kelurahan
len()                  11583      11583
isin(bps_)             10853      10713
isin(kemendagri_)      11387      11545

**Observasi:**

Jumlah elemen dari tiap kolom `kecamatan` dan `kelurahan` yang persis sama dengan elemen pada kolom `bps_` lebih sedikit daripada kolom `kemendagri_`.
* Hal tersebut nantinya berdampak pada jumlah *missing value* yang lebih banyak jika menggabungkan masing-masing kolom dengan `bps_`.
* Dengan mempertimbangkan prinsip [kualitas data](https://en.wikipedia.org/wiki/Data_quality) yang membandingkan antara kondisi data saat ini dengan kondisi yang dikehendaki —salah satunya adalah *free of defect*—, maka kolom `kemendagri_` yang akan digunakan sebagai key pada tahapan berikutnya untuk mengurangi *defect* berupa *missing value* sebanyak mungkin.

Sebelum melakukan *merging*, perlu diperhatikan juga instruksi berikutnya:
> Untuk *header* kolom menggunakan bentuk kecil semua dan isi data menggunakan huruf besar semua.
* *Header* dari kolom yang akan digabungkan sudah dalam bentuk kecil atau *lowercase*, tetapi
* Beberapa kolom seperti `nama_provinsi` dan `periode_update` dari `data_dinas_sosial` masih berisikan nilai dalam format *lowercase*, sehingga tahapan berikut akan mengubah formatnya menjadi *uppercase*:

In [15]:
# Mengubah isi dari tiap kolom menjadi uppercase
data_dinas_sosial['nama_provinsi'] = data_dinas_sosial['nama_provinsi'].str.upper()
data_dinas_sosial['periode_update'] = data_dinas_sosial['periode_update'].str.upper()

Juga ditemukan nilai pada *key* `kabupaten` yang tidak persis sama dengan `nama_kabupaten_kota`. 
* Hal ini dikarenakan isi dari `kabupaten` menggunakan format `KAB.` lalu diikuti dengan nama dari kabupaten tersebut.
* Format ini pun perlu disesuaikan dengan mengikuti acuan dari `bentuk_table`:

In [16]:
# Mengganti tiap data pada kolom 'kabupaten'
data_dinas_sosial['kabupaten'] = data_dinas_sosial['kabupaten'].str.replace(
    pat='KAB.', # Data dengan pola yang ditentukan
    repl='KABUPATEN' # Diganti dengan pola berikut
)

### Data Merging
Setelah perbandingan dan penyesuaian pada tahapan sebelumnya dinilai memadai, berikutnya proses penggabungan kedua data dapat dilakukan:

In [17]:
# Menggabungkan data dengan 'database-style join'
table = pd.merge(
    left=data_dinas_sosial, # Data pertama/left yang akan digabungkan
    right=data_master_desa, # Dengan data kedua/right
    how='left', # Menggunakan key dari left dan mempertahankan urutan dari key tersebut
    left_on=['nama_provinsi', 'kabupaten', 'kecamatan', 'kelurahan'], # Kolom dari left yang hendak digabungkan sebagai key
    right_on=['nama_provinsi', 'nama_kabupaten_kota', 'kemendagri_nama_kecamatan', 'kemendagri_desa_kelurahan'] # Dengan key dari right
)

table.head(
    n=5
)

,id,kode_provinsi_x,nama_provinsi,periode_update,nik,nama,alamat,provinsi,kabupaten,kecamatan,kelurahan,tahun,kategori,jumlah,satuan,kode_provinsi_y,kode_kabupaten_kota,nama_kabupaten_kota,bps_kode_kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,bps_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_desa_kelurahan
0,1,35,JAWA TIMUR,TRIWULAN I 2024,352606000000000000000,ABD HALIM,DSN GLIMBUR,JAWA TIMUR,KABUPATEN BANGKALAN,GEGER,LERPAK,2024,-,-,-,35.0,3526.0,KABUPATEN BANGKALAN,3526140.0,GEGER,3.526140e+09,LERPAK,35.26.06,GEGER,35.26.06.2005,LERPAK
1,2,35,JAWA TIMUR,TRIWULAN I 2024,352618000000000000000,ABD. ROHMAN,DSN. REMBAH GALIS,JAWA TIMUR,KABUPATEN BANGKALAN,GALIS,GALIS,2024,-,-,-,35.0,3526.0,KABUPATEN BANGKALAN,3526070.0,GALIS,3.526070e+09,GALIS,35.26.18,GALIS,35.26.18.2007,GALIS
2,3,35,JAWA TIMUR,TRIWULAN I 2024,352619000000000032768,ABDUS SYUKUR,DSN. BARAT SUMBER,JAWA TIMUR,KABUPATEN BANGKALAN,GALIS,LONGKEK,2024,-,-,-,35.0,3526.0,KABUPATEN BANGKALAN,3526070.0,GALIS,3.526070e+09,LONGKEK,35.26.18,GALIS,35.26.18.2006,LONGKEK
3,4,35,JAWA TIMUR,TRIWULAN I 2024,352606000000000000000,ACHMAD,DSN POCONG,JAWA TIMUR,KABUPATEN BANGKALAN,GEGER,CAMPOR,2024,-,-,-,35.0,3526.0,KABUPATEN BANGKALAN,3526140.0,GEGER,3.526140e+09,CAMPOR,35.26.06,GEGER,35.26.06.2010,CAMPOR
4,5,35,JAWA TIMUR,TRIWULAN I 2024,352614000000000000000,ACHMAD RIDOI,DSN. BANGGUMOK,JAWA TIMUR,KABUPATEN BANGKALAN,TRAGAH,TRAGAH,2024,-,-,-,35.0,3526.0,KABUPATEN BANGKALAN,3526090.0,TRAGAH,3.526090e+09,TRAGAH,35.26.14,TRAGAH,35.26.14.2006,TRAGAH

**Observasi:**
* Sesuai dengan hasil analisis pada bagian `Data Comparison` sebelumnya, `kode_provinsi` yang digunakan adalah `kode_provinsi_y` dan `kode_provinsi_x` tidak digunakan dalam tabel yang baru.
* Nama dari beberapa kolom seperti `bps_desa_kelurahan`, `kemendagri_desa_kelurahan`, dan `kategori` perlu disesuaikan dengan format nama kolom yang digunakan pada `contoh_tabel`.
* Pun demikian dengan urutan nama kolom pada `tabel` mengikuti urutan nama kolom `bentuk_table`

In [18]:
# Menghapus kolom dari table
table = table.drop(
    columns=[
        'kode_provinsi_x'
    ]
# Mengganti nama kolom sesuai format pada `bentuk_table`
).rename(
    columns={
        'bps_desa_kelurahan': 'bps_nama_desa_kelurahan',
        'kemendagri_desa_kelurahan': 'kemendagri_nama_desa_kelurahan',
        'kategori': 'kategori.1'
    }
# Mengatur urutan dari table 
).reindex(
    labels=bentuk_table.columns, # Menggunakan daftar kolom dari 'bentuk_table'
    axis=1 # 'Axis' kedua atau kolom yang diurutkan sesuai parameter 'labels' sebelumnya
)

Hasil dari proses penggabungan ini berupa *variabel instance* `tabel` yang dapat dibandingkan dengan `bentuk_table`:

In [19]:
display(
    table.head(
        n=5
    )
)

display(
    bentuk_table.head(
        n=5
    )
)

,id,kode_provinsi_y,nama_provinsi,kode_kabupaten_kota,kabupaten,nama_kabupaten_kota,bps_kode_kecamatan,kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,kelurahan,bps_nama_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_nama_desa_kelurahan,periode_update,nik,nama,alamat,kategori,kategori.1,jumlah,satuan,tahun
0,1,35.0,JAWA TIMUR,3526.0,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526140.0,GEGER,GEGER,3.526140e+09,LERPAK,LERPAK,35.26.06,GEGER,35.26.06.2005,LERPAK,TRIWULAN I 2024,352606000000000000000,ABD HALIM,DSN GLIMBUR,NaN,-,-,-,2024
1,2,35.0,JAWA TIMUR,3526.0,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526070.0,GALIS,GALIS,3.526070e+09,GALIS,GALIS,35.26.18,GALIS,35.26.18.2007,GALIS,TRIWULAN I 2024,352618000000000000000,ABD. ROHMAN,DSN. REMBAH GALIS,NaN,-,-,-,2024
2,3,35.0,JAWA TIMUR,3526.0,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526070.0,GALIS,GALIS,3.526070e+09,LONGKEK,LONGKEK,35.26.18,GALIS,35.26.18.2006,LONGKEK,TRIWULAN I 2024,352619000000000032768,ABDUS SYUKUR,DSN. BARAT SUMBER,NaN,-,-,-,2024
3,4,35.0,JAWA TIMUR,3526.0,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526140.0,GEGER,GEGER,3.526140e+09,CAMPOR,CAMPOR,35.26.06,GEGER,35.26.06.2010,CAMPOR,TRIWULAN I 2024,352606000000000000000,ACHMAD,DSN POCONG,NaN,-,-,-,2024
4,5,35.0,JAWA TIMUR,3526.0,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526090.0,TRAGAH,TRAGAH,3.526090e+09,TRAGAH,TRAGAH,35.26.14,TRAGAH,35.26.14.2006,TRAGAH,TRIWULAN I 2024,352614000000000000000,ACHMAD RIDOI,DSN. BANGGUMOK,NaN,-,-,-,2024

,id,kode_provinsi_y,nama_provinsi,kode_kabupaten_kota,kabupaten,nama_kabupaten_kota,bps_kode_kecamatan,kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,kelurahan,bps_nama_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_nama_desa_kelurahan,periode_update,nik,nama,alamat,kategori,kategori.1,jumlah,satuan,tahun
0,1,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526140,GEGER,GEGER,3526140002,LERPAK,LERPAK,35.26.06,GEGER,35.26.06.2005,LERPAK,TRIWULAN I 2024,3526060000000000,ABD HALIM,DSN GLIMBUR,NaN,-,-,-,2024
1,2,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526070,GALIS,GALIS,3526070004,GALIS,GALIS,35.26.18,GALIS,35.26.18.2007,GALIS,TRIWULAN I 2024,3526180000000000,ABD. ROHMAN,DSN. REMBAH GALIS,NaN,-,-,-,2024
2,3,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526070,GALIS,GALIS,3526070009,LONGKEK,LONGKEK,35.26.18,GALIS,35.26.18.2006,LONGKEK,TRIWULAN I 2024,3526190000000000,ABDUS SYUKUR,DSN. BARAT SUMBER,NaN,-,-,-,2024
3,4,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526140,GEGER,GEGER,3526140006,CAMPOR,CAMPOR,35.26.06,GEGER,35.26.06.2010,CAMPOR,TRIWULAN I 2024,3526060000000000,ACHMAD,DSN POCONG,NaN,-,-,-,2024
4,5,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526090,TRAGAH,TRAGAH,3526090013,TRAGAH,TRAGAH,35.26.14,TRAGAH,35.26.14.2006,TRAGAH,TRIWULAN I 2024,3526140000000000,ACHMAD RIDOI,DSN. BANGGUMOK,NaN,-,-,-,2024

---
## 2 | *Check Null*

> Lakukan *check* pada data tersebut apakah ada kolom nilai *null* atau tidak.

---
## 3 | *Data Cleansing*

> Jika ada nilai null lakukan cleansing data pada table yang sudah dilakukan join sehingga meminimalisir nilai null.

---
## 4 | *Addendum*

> Buatlah coding cleansing dengan bahasa python. Asumsikan akan melakukan cleansing data pada data yang jumlahnya besar dan beragam sehingga buatlah algoritma coding yang bisa digunakan untuk banyak case data.

> Buatlah penjelasan cleansing data yang Anda lakukan dari problem dan solusi yang diberikan.

> Untuk coding python mohon kumpulkan file dalam bentuk file python (.ipynb) dan untuk analysisnya boleh dalam bentuk word atau di file python tersebut. 

> "Syarat dan ketentuan tugas: Buatlah dalam format PPT (canva/google slide) maksimal 15 slides. Kirimkan link PPT/drive ke gform Pendaftaran Magang Mandiri SEAL Batch 2 2025 Batas maksimal pengumpulan 3 hari