<h1 style='text-align: center'> SEAL Data Scientist Technical Test </h1>
<h3 style='text-align: center; font-style: italic'> Oleh: Garudapaksi Yusuf </h3>

---

## Section 1 | Data ETL

[Extract, transform, load](https://en.wikipedia.org/wiki/Extract,_transform,_load) (ETL) adalah tiga fase pemrosesan data yang terdiri dari:
1. **Ekstraksi dari sumber data**: dalam *project* ini, secara langsung data diekstraksi dari *source* yang disediakan,
2. **Transformasi dalam format yang sesuai**: karena data tersedia dalam format `.csv` dan `xlsx` —dan untuk memudahkan proses analisa—, proses transformasi data akan menggunakan library Pandas untuk mengubah format data dalam bentuk DataFrame, dan
3. ***Load* ke data *container***: berupa *variable instance* dalam bahasa pemrograman Python.

*Catatan:*
* *Source data dan instruksi: [Google Drive](https://drive.google.com/drive/folders/16e052sYcXIIhrOVQJ86G_S12SGqrlp96?usp=sharing).*
* *Proses ETL dilakukan untuk memenuhi instruksi yang dikutip dari `Data Scientist Techncial Test.xlsx`, yang tersedia pada folder `docs` dari repository ini dengan sedikit modifikasi untuk memudahkan pemahaman:*

    > Buatlah *table* seperti berikut dari data dinas sosial dan data *master* desa:

In [1]:
# Import library yang dibutuhkan untuk mengakses contoh table
import pandas as pd

# Mengakses contoh table yang tersedia dalam format .xlsx
bentuk_table = pd.read_excel(
    io='../docs/Data Scientist Techncial Test.xlsx', # Letak dan nama file dari contoh table
    sheet_name='bentuk table', # Nama sheet dari contoh table
)

In [2]:
# Pengaturan untuk library Pandas 
pd.set_option(
    'display.max_columns', # Batasan untuk jumlah kolom yang ditampilkan
    None # Dihilangkan karena beberapa kolom disembunyikan dengan tampilan '...' 
)

# Menampilkan keseluruhan isi dari bentuk_table
bentuk_table

,id,kode_provinsi_y,nama_provinsi,kode_kabupaten_kota,kabupaten,nama_kabupaten_kota,bps_kode_kecamatan,kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,kelurahan,bps_nama_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_nama_desa_kelurahan,periode_update,nik,nama,alamat,kategori,kategori.1,jumlah,satuan,tahun
0,1,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526140,GEGER,GEGER,3526140002,LERPAK,LERPAK,35.26.06,GEGER,35.26.06.2005,LERPAK,TRIWULAN I 2024,3526060000000000,ABD HALIM,DSN GLIMBUR,NaN,-,-,-,2024
1,2,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526070,GALIS,GALIS,3526070004,GALIS,GALIS,35.26.18,GALIS,35.26.18.2007,GALIS,TRIWULAN I 2024,3526180000000000,ABD. ROHMAN,DSN. REMBAH GALIS,NaN,-,-,-,2024
2,3,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526070,GALIS,GALIS,3526070009,LONGKEK,LONGKEK,35.26.18,GALIS,35.26.18.2006,LONGKEK,TRIWULAN I 2024,3526190000000000,ABDUS SYUKUR,DSN. BARAT SUMBER,NaN,-,-,-,2024
3,4,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526140,GEGER,GEGER,3526140006,CAMPOR,CAMPOR,35.26.06,GEGER,35.26.06.2010,CAMPOR,TRIWULAN I 2024,3526060000000000,ACHMAD,DSN POCONG,NaN,-,-,-,2024
4,5,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526090,TRAGAH,TRAGAH,3526090013,TRAGAH,TRAGAH,35.26.14,TRAGAH,35.26.14.2006,TRAGAH,TRIWULAN I 2024,3526140000000000,ACHMAD RIDOI,DSN. BANGGUMOK,NaN,-,-,-,2024
5,6,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526010,KAMAL,KAMAL,3526010003,BANYUAJUH,BANYU AJUH,35.26.04,KAMAL,35.26.04.2002,BANYUAJUH,TRIWULAN I 2024,3526040000000000,ALFIN MASKUR,JL. AKH. KUSAIRI,NaN,-,-,-,2024
6,7,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526020,LABANG,LABANG,3526020003,SUKOLILO BARAT,SUKOLILO BARAT,35.26.12,LABANG,35.26.12.2006,SUKOLILO BARAT,TRIWULAN I 2024,3526130000000000,AMANIA ALIA,DSN. TENGGINAH,NaN,-,-,-,2024
7,8,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526080,TANAH MERAH,TANAH MERAH,3526080022,POTER,POTER,35.26.13,TANAH MERAH,35.26.13.2014,POTER,TRIWULAN I 2024,3526130000000000,ANDRIAN SAKBAN PURNOMO,DSN. SABE,NaN,-,-,-,2024
8,9,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526120,BURNEH,BURNEH,3526120003,BURNEH,BURNEH,35.26.03,BURNEH,35.26.03.2001,BURNEH,TRIWULAN I 2024,3526030000000000,ANDRIANTA WALIYUDDINS,JL. MANGGIS,NaN,-,-,-,2024
9,10,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526140,GEGER,GEGER,3526140012,BANYONENG LAOK,BANYONENG LAOK,35.26.06,GEGER,35.26.06.2002,BANYONENG LAOK,TRIWULAN I 2024,3526060000000000,ANWAR,DSN. SUMBER GUDANG,NaN,-,-,-,2024

*Catatan*:
* *Indeks tabel yang ditampilkan mulai dari `0-4` pada contoh tabel di atas adalah indeks yang ditampilkan dari Pandas (menggunakan sistem [0-indexing](https://pandas.pydata.org/docs/user_guide/indexing.html) yang dimulai dari angka 0), sedangkan*
* *Kolom `id` dengan nilai yang hampir serupa —mulai dari `1-5`— merupakan indeks yang disediakan dari `bentuk_table`.*

Berikutnya, `bentuk_table` di atas akan dibandingkan dengan data dinas sosial dan data *master* desa yang tersedia pada folder `data`:

In [3]:
# Mengakses data dinas sosial dalam format .csv
data_dinsos_csv = pd.read_csv(
    filepath_or_buffer='../data/Data Dinas Sosial.csv',
    sep=';', # Character yang digunakan sebagai delimiter/separator
)

# Dan dalam format .xlsx
data_dinsos_xlsx = pd.read_excel(
    io='../data/Data Dinas Sosial.xlsx',
)

# Mengakses data master desa
data_master_desa = pd.read_csv(
    filepath_or_buffer='../data/masterdesa.csv',
    sep=';'
)

In [4]:
# Menampilkan 5 baris pertama dari 'Data Dinas Sosial.csv'
data_dinsos_csv.head(
    n=5
)

,id,kode_provinsi,nama_provinsi,periode_update,nik,nama,alamat,provinsi,kabupaten,kecamatan,kelurahan,tahun,kategori,jumlah,satuan
0,1,35,Jawa Timur,Triwulan I 2024,"3,52606E+15",ABD HALIM,DSN GLIMBUR,JAWA TIMUR,KAB. BANGKALAN,GEGER,LERPAK,2024,-,-,-
1,2,35,Jawa Timur,Triwulan I 2024,"3,52618E+15",ABD. ROHMAN,DSN. REMBAH GALIS,JAWA TIMUR,KAB. BANGKALAN,GALIS,GALIS,2024,-,-,-
2,3,35,Jawa Timur,Triwulan I 2024,"3,52619E+15",ABDUS SYUKUR,DSN. BARAT SUMBER,JAWA TIMUR,KAB. BANGKALAN,GALIS,LONGKEK,2024,-,-,-
3,4,35,Jawa Timur,Triwulan I 2024,"3,52606E+15",ACHMAD,DSN POCONG,JAWA TIMUR,KAB. BANGKALAN,GEGER,CAMPOR,2024,-,-,-
4,5,35,Jawa Timur,Triwulan I 2024,"3,52614E+15",ACHMAD RIDOI,DSN. BANGGUMOK,JAWA TIMUR,KAB. BANGKALAN,TRAGAH,TRAGAH,2024,-,-,-

In [5]:
# Menampilkan 5 baris pertama dari 'Data Dinas Sosial.xlsx'
data_dinsos_xlsx.head(
    n=5
)

,id,kode_provinsi,nama_provinsi,periode_update,nik,nama,alamat,provinsi,kabupaten,kecamatan,kelurahan,tahun,kategori,jumlah,satuan
0,1,35,Jawa Timur,Triwulan I 2024,352606000000000000000,ABD HALIM,DSN GLIMBUR,JAWA TIMUR,KAB. BANGKALAN,GEGER,LERPAK,2024,-,-,-
1,2,35,Jawa Timur,Triwulan I 2024,352618000000000000000,ABD. ROHMAN,DSN. REMBAH GALIS,JAWA TIMUR,KAB. BANGKALAN,GALIS,GALIS,2024,-,-,-
2,3,35,Jawa Timur,Triwulan I 2024,352619000000000032768,ABDUS SYUKUR,DSN. BARAT SUMBER,JAWA TIMUR,KAB. BANGKALAN,GALIS,LONGKEK,2024,-,-,-
3,4,35,Jawa Timur,Triwulan I 2024,352606000000000000000,ACHMAD,DSN POCONG,JAWA TIMUR,KAB. BANGKALAN,GEGER,CAMPOR,2024,-,-,-
4,5,35,Jawa Timur,Triwulan I 2024,352614000000000000000,ACHMAD RIDOI,DSN. BANGGUMOK,JAWA TIMUR,KAB. BANGKALAN,TRAGAH,TRAGAH,2024,-,-,-

**Observasi:**

Sekilas tampak bahwa isi dari kedua format dari data dinas sosial `dinsos` pada tiap kolom hampir serupa.
* Kecuali pada kolom `nik` yang ditampilkan dalam format *scientific* (menggunakan notasi `E` untuk menampilkan bilangan numerik) pada `dinsos_csv`, dan menggunakan format numerik pada `dinsos_xlsx`.
* Analisis berikut menggunakan fungsi `equals()` untuk menguji kesamaan isi pada tiap kolom dari kedua format data tersebut.

In [6]:
# Uji kesamaan isi pada tiap kolom
pd.DataFrame(
    data={
        # Antara 'data_dinsos_csv'
        'data_dinsos_csv': data_dinsos_csv.columns,
        'equal': [data_dinsos_csv[column_csv].equals(
            other=data_dinsos_xlsx[column_xlsx]
        )for column_csv, column_xlsx in zip(data_dinsos_csv.columns, data_dinsos_xlsx.columns)],
        # Dengan 'data_dinsos_xlsx' 
        'data_dinsos_xlsx': data_dinsos_xlsx.columns
    }
)

   data_dinsos_csv  equal data_dinsos_xlsx
0               id   True               id
1    kode_provinsi   True    kode_provinsi
2    nama_provinsi   True    nama_provinsi
3   periode_update   True   periode_update
4              nik  False              nik
5             nama   True             nama
6           alamat   True           alamat
7         provinsi   True         provinsi
8        kabupaten   True        kabupaten
9        kecamatan   True        kecamatan
10       kelurahan   True        kelurahan
11           tahun   True            tahun
12        kategori   True         kategori
13          jumlah   True           jumlah
14          satuan   True           satuan

**Observasi:**
* Hasil pengujian menunjukkan bahwa isi tiap kolom dari kedua format data bersifat identik (fungsi `equals()` menghasilkan boolean `True` untuk semua kolom), dengan pengecualian untuk kolom `nik`.
* Karena format `nik` pada `data_dinsos_csv` yang lebih mendekati format pada `bentuk_table`, tahapan berikutnya akan mengubah nilai `nik` dari sumber data ini ke dalam format numerik.

### Data Transformation

Sebelum proses transformasi tersebut dimulai, pertama-tama perlu dilihat terlebih dahulu nilai-nilai yang ada pada kolom tersebut:

In [7]:
# Menunjukkan nilai unik pada kolom 'nik' dalam `dinsos_csv`
data_dinsos_csv['nik'].unique()

array(['3,52606E+15', '3,52618E+15', '3,52619E+15', '3,52614E+15',
       '3,52604E+15', '3,52613E+15', '3,52603E+15', '3,52608E+15',
       '3,52607E+15', '3,5261E+15', '3,52601E+15', '3,52605E+15',
       '3,57805E+15', '3,52616E+15', '3,57804E+15', '3,52612E+15',
       '3,52617E+15', '3,52666E+15', '3,51324E+15', '3,52602E+15',
       '3,51019E+15', '3,51005E+15', '3,51016E+15', '3,51007E+15',
       '3,52211E+15', '3,51006E+15', '3,51021E+15', '3,51012E+15',
       '3,51003E+15', '3,51017E+15', '3,51009E+15', '3,51022E+15',
       '3,51014E+15', '3,51011E+15', '3,5102E+15', '3,51013E+15',
       '3,51001E+15', '3,51024E+15', '3,51015E+15', '3,51008E+15',
       '3,51002E+15', '3,51004E+15', '3,5101E+15', '3,51518E+15',
       '3,50502E+15', '3,50507E+15', '3,50505E+15', '3,50503E+15',
       '3,50509E+15', '3,50516E+15', '3,50508E+15', '3,50504E+15',
       '3,50518E+15', '3,50506E+15', '3,5051E+15', '3,50519E+15',
       '3,50306E+15', '3,50601E+15', '3,5222E+15', '3,52204E+15',
       '3,52202E+15', '3,52212E+15', '3,52219E+15', '3,52215E+15',
       '3,52206E+15', '3,52214E+15', '3,52213E+15', '3,52225E+15',
       '3,52228E+15', '3,52209E+15', '3,52208E+15', '3,52205E+15',
       '3,52224E+15', '3,52201E+15', '3,5221E+15', '3,52203E+15',
       '3,52227E+15', '3,52216E+15', '3,52222E+15', '3,52207E+15',
       '3,20931E+15', '3,52223E+15', '6,47301E+15', '3,52221E+15',
       '3,52229E+15', '3,51103E+15', '3,51121E+15', '3,51122E+15',
       '3,51113E+15', '3,51106E+15', '3,51109E+15', '3,51114E+15',
       '3,51115E+15', '3,5111E+15', '3,51206E+15', '3,51105E+15',
       '3,51111E+15', '3,511E+15', '3,51107E+15', '3,41107E+15',
       '3,51108E+15', '3,51117E+15', '3,5112E+15', '3,51116E+15',
       '3,51104E+15', '3,51123E+15', '3,37503E+15', '3,51102E+15',
       '3,51112E+15', '3,51118E+15', '3,51101E+15', '3,52502E+15',
       '3,52505E+15', '3,52503E+15', '3,52516E+15', '3,52512E+15',
       '3,52506E+15', '3,52501E+15', '3,52504E+15', '3,52514E+15',
       '3,52517E+15', '3,5251E+15', '3,52513E+15', '3,52507E+15',
       '3,52511E+15', '3,52515E+15', '3,52419E+15', '3,52508E+15',
       '9,10901E+15', '3,52509E+15', '6,40204E+15', '3,50902E+15',
       '3,59091E+15', '3,50917E+15', '3,50904E+15', '3,50913E+15',
       '3,50925E+15', '3,50907E+15', '3,50903E+15', '3,50916E+15',
       '3,50918E+15', '3,50921E+15', '3,50912E+15', '3,5092E+15',
       '3,50915E+15', '3,5093E+15', '3,50906E+15', '3,5091E+15',
       '3,50905E+15', '3,50909E+15', '3,50923E+15', '3,50903E+14',
       '3,50919E+15', '3,50931E+15', '3,50922E+15', '3,50928E+15',
       '3,50911E+15', '3,50911E+14', '3,50929E+15', '3,51714E+15',
       '3,5171E+15', '3,51711E+15', '3,51702E+15', '3,51722E+15',
       '3,51715E+15', '3,51811E+15', '3,51717E+15', '3,51701E+15',
       '3,51708E+15', '3,51707E+15', '3,51713E+15', '3,51712E+15',
       '3,51709E+15', '3,51705E+15', '3,57809E+15', '3,51703E+15',
       '3,51719E+15', '3,51718E+15', '3,5172E+15', '3,51721E+15',
       '3,51706E+15', '3,51704E+15', '3,51911E+15', '3,3271E+15',
       '1,80309E+15', '3,51716E+15', '3,50623E+15', '3,5062E+15',
       '3,50605E+15', '3,50608E+15', '3,50606E+15', '3,50603E+15',
       '3,50602E+15', '3,5061E+15', '3,50617E+15', '3,50604E+15',
       '3,50614E+15', '3,50615E+15', '3,50611E+15', '3,50607E+15',
       '3,50612E+15', '3,50621E+15', '3,50626E+15', '3,57802E+15',
       '3,50621E+14', '3,50625E+15', '3,51513E+15', '3,50609E+15',
       '3,50632E+13', '3,50613E+15', '3,57827E+15', '3,50624E+15',
       '3,50626E+14', '1,20602E+15', '3,50616E+15', '3,50622E+15',
       '3,37305E+15', '3,57903E+15', '3,57902E+15', '3,57904E+15',
       '3,57901E+15', '3,57201E+15', '3,57203E+15', '3,57202E+15',
       '3,57816E+15', '3,57204E+15', '3,57104E+15', '3,57103E+15',
       '3,57102E+15', '3,57101E+15', '1,20507E+15', '3,57303E+15',
       '3,31306E+15', '3,57701E+15', '3,57703E+15', '3,57702E+15',
       '3,57704E+15', '3,50315E+15', '3,40104E+15', '3,67701E+15',
       '3,17408E+15', '3,51904E+15', '3,21608E+15', '3,57306E+15',
       '3,57304E+15', '3,50718E+15', '3,57302E+15', '3,57301E+15',
       '3,52805E+15', '3,57305E+15', '3,50722E+15', '3,51903E+15',
       '3,57395E+15', '3,51401E+15', '3,50721E+15', '3,50726E+15',
       '3,51307E+15', '3,52901E+15', '3,57602E+15', '3,57601E+15',
       '3,51613E+15', '3,57603E+15', '3,51612E+15', '3,57503E+15',
       '3,57501E+15', '3,57504E+15', '3,57505E+15', '3,50705E+15',
       '3,57502E+15', '3,57502E+16', '3,57406E+15', '3,57402E+15',
       '3,57405E+15', '3,57404E+15', '3,57403E+15', '3,57401E+15',
       '3,51318E+15', '3,57829E+15', '3,57815E+15', '3,57819E+15',
       '3,57806E+15', '3,57812E+15', '3,57818E+15', '3,57824E+15',
       '3,5781E+15', '3,5031E+15', '3,5782E+15', '3,57826E+15',
       '3,57831E+15', '3,57823E+15', '3,57801E+15', '4,57829E+15',
       '3,57814E+15', '3,57821E+15', '3,57813E+15', '3,52702E+15',
       '3,57817E+15', '3,57825E+15', '3,57807E+15', '3,57828E+15',
       '3,5241E+15', '3,52706E+15', '3,57832E+15', '3,57808E+15',
       '3,52415E+15', '3,52418E+15', '3,50515E+15', '3,52427E+15',
       '3,52422E+15', '3,52402E+15', '3,52412E+15', '3,52416E+15',
       '3,52406E+15', '3,52423E+15', '3,52424E+15', '3,52409E+15',
       '3,52404E+15', '3,52411E+15', '3,52417E+15', '3,52407E+15',
       '3,52413E+15', '3,52425E+15', '3,5242E+15', '3,52405E+15',
       '3,52426E+15', '3,52414E+15', '3,52408E+15', '3,52401E+15',
       '3,52403E+15', '3,52421E+15', '3,52428E+15', '3,53412E+15',
       '3,50821E+15', '3,50812E+15', '3,50803E+15', '3,5081E+15',
       '3,50814E+15', '3,50819E+15', '3,50804E+15', '3,50811E+15',
       '3,50807E+15', '3,5082E+15', '3,50818E+15', '3,50808E+15',
       '3,50806E+15', '3,50816E+15', '3,50805E+15', '3,50815E+15',
       '3,50817E+15', '3,51741E+16', '3,51905E+15', '3,51912E+15',
       '3,51915E+15', '3,51906E+15', '3,51908E+15', '3,51916E+15',
       '1,40412E+15', '3,5191E+15', '3,51909E+15', '3,51902E+15',
       '3,51907E+15', '3,51901E+15', '3,51913E+15', '3,51914E+15',
       '6,40804E+15', '3,52109E+15', '1,81206E+15', '3,5072E+15',
       '3,52101E+15', '3,52003E+15', '3,52009E+15', '3,52015E+15',
       '3,52002E+15', '3,52017E+15', '3,52006E+15', '3,52014E+15',
       '3,52012E+15', '3,50213E+15', '3,52011E+15', '3,52016E+15',
       '3,5201E+15', '3,52019E+15', '3,52004E+15', '3,52005E+15',
       '3,52013E+15', '3,52008E+15', '3,52007E+15', '3,52018E+15',
       '3,52312E+15', '3,52072E+14', '3,51517E+15', '3,52017E+14',
       '3,50704E+15', '3,5071E+15', '3,50711E+15', '3,5073E+15',
       '3,50725E+15', '3,50731E+15', '3,50728E+15', '9,27105E+15',
       '3,50707E+15', '3,50716E+15', '3,50727E+15', '3,50701E+15',
       '3,50723E+15', '3,50712E+15', '3,50706E+15', '3,50719E+15',
       '3,50717E+15', '3,50724E+15', '3,50702E+15', '3,50708E+15',
       '3,51607E+15', '3,51611E+15', '3,51617E+15', '3,51618E+15',
       '3,51616E+15', '3,5161E+15', '3,51619E+15', '3,51615E+15',
       '3,51608E+15', '3,51606E+15', '3,51602E+15', '3,51604E+15',
       '3,51601E+15', '3,51605E+15', '3,51603E+15', '3,51609E+15',
       '3,51807E+15', '3,51808E+15', '3,51805E+15', '3,52801E+15',
       '3,51813E+15', '3,51816E+15', '3,51809E+15', '3,51801E+15',
       '3,51803E+15', '3,51804E+15', '3,51817E+15', '3,20102E+15',
       '3,51814E+15', '3,5181E+15', '3,51819E+15', '3,51806E+15',
       '3,51802E+15', '3,51815E+15', '3,51812E+15', '3,51818E+15',
       '3,51519E+15', '3,50627E+15', '3,52111E+15', '3,60415E+15',
       '3,52115E+15', '3,52117E+15', '3,52103E+15', '3,52112E+15',
       '3,5211E+15', '3,52114E+15', '3,52102E+15', '3,52104E+15',
       '3,17405E+15', '3,52113E+15', '3,52105E+15', '3,52119E+15',
       '3,5212E+15', '3,17406E+15', '3,21223E+15', '3,52106E+15',
       '3,31303E+15', '1,80105E+15', '3,52107E+15', '3,52108E+15',
       '3,521E+15', '3,52116E+15', '3,17505E+15', '3,31604E+15',
       '3,52036E+15', '3,52118E+15', '3,50112E+15', '3,50101E+15',
       '3,5011E+15', '3,50104E+15', '3,50107E+15', '3,50108E+15',
       '3,50111E+15', '3,50105E+15', '1,80806E+15', '3,50106E+15',
       '3,50102E+15', '3,20908E+15', '3,50103E+15', '3,50109E+15',
       '3,52804E+15', '3,5281E+15', '3,52812E+15', '3,52802E+15',
       '3,528E+15', '3,52803E+15', '3,52808E+15', '3,52807E+15',
       '3,52809E+15', '3,52806E+15', '3,17506E+15', '3,52813E+15',
       '3,58207E+15', '3,51406E+15', '3,51421E+15', '3,51405E+15',
       '3,5142E+15', '3,51424E+15', '3,51417E+15', '3,51418E+15',
       '3,51402E+15', '3,51412E+15', '3,51419E+15', '3,51413E+15',
       '3,50514E+15', '3,51408E+15', '3,51423E+15', '3,51403E+15',
       '3,15142E+15', '3,51416E+15', '3,50715E+15', '3,51409E+15',
       '3,51415E+15', '3,51422E+15', '3,51411E+15', '3,51404E+15',
       '3,57822E+15', '3,50211E+15', '3,50215E+15', '3,50216E+15',
       '3,5022E+15', '3,50205E+15', '3,50214E+15', '3,50219E+15',
       '3,50212E+15', '3,50218E+15', '3,50217E+15', '3,50221E+15',
       '3,50202E+15', '3,50207E+15', '3,50208E+15', '3,57811E+15',
       '3,50206E+15', '1,40116E+15', '3,50201E+15', '3,5021E+15',
       '3,59212E+15', '3,51309E+15', '3,51321E+15', '3,51323E+15',
       '3,51304E+15', '3,51316E+15', '3,51301E+15', '3,5132E+15',
       '3,51319E+15', '3,51305E+15', '3,51314E+15', '3,51302E+15',
       '3,51317E+15', '3,51308E+15', '3,51322E+15', '3,51311E+15',
       '3,51313E+15', '3,51315E+15', '3,51312E+15', '3,5131E+15',
       '3,51303E+15', '3,51306E+15', '3,51304E+14', '3,51325E+15',
       '3,51309E+14', '3,52701E+15', '3,51322E+16', '3,52712E+15',
       '3,52707E+15', '3,52711E+15', '3,52713E+15', '3,52708E+15',
       '3,52705E+15', '3,52703E+15', '3,52708E+14', '3,52704E+15',
       '`3527035109120002', '`3527011712100001', '`3527032603020002',
       '3,51512E+15', '3,51507E+15', '3,51505E+15', '3,51514E+15',
       '3,51516E+15', '3,51511E+15', '3,51515E+15', '3,51502E+15',
       '3,5151E+15', '3,51503E+15', '3,51508E+15', '3,51509E+15',
       '3,51504E+15', '3,51506E+15', '3,51208E+15', '3,51211E+15',
       '3,51202E+15', '3,51207E+15', '3,51209E+15', '3,51212E+15',
       '3,51204E+15', '9,10909E+15', '3,51216E+15', '3,52919E+15',
       '3,51213E+15', '3,51217E+15', '3,51203E+15', '3,51218E+15',
       '3,67205E+15', '3,5121E+15', '3,51205E+15', '3,52902E+15',
       '3,52912E+15', '3,5291E+15', '3,52908E+15', '3,52913E+15',
       '3,52911E+15', '3,52903E+15', '3,52909E+15', '3,52904E+15',
       '3,5292E+15', '3,52906E+15', '2,10116E+15', '3,52918E+15',
       '3,52917E+15', '3,52916E+15', '3,52905E+15', '3,52907E+15',
       '3,52926E+15', '3,50301E+15', '3,50308E+15', '3,50304E+15',
       '3,50309E+15', '3,50313E+15', '3,50305E+15', '3,50312E+15',
       '3,50303E+15', '3,50307E+15', '3,50302E+15', '3,50311E+15',
       '3,50314E+15', '3,30318E+15', "'3503125502060001", '3,52317E+15',
       '3,52301E+15', '3,52311E+15', '3,52307E+15', '3,52308E+15',
       '3,52316E+15', '3,5141E+15', '3,52315E+15', '6,40213E+15',
       '3,52303E+15', '3,52314E+15', '3,5231E+15', '3,52309E+15',
       '3,52321E+15', '3,52313E+15', '3,52318E+15', '3,5232E+15',
       '1,22304E+15', '3,52302E+15', '3,52319E+15', '3,50411E+15',
       '3,50403E+15', '3,50415E+15', '3,50405E+15', '3,50414E+15',
       '3,60409E+15', '3,5041E+15', '3,50409E+15', '3,50406E+15',
       '3,50404E+15', '3,50401E+15', '3,50419E+15', '3,50402E+15',
       '3,50418E+15', '3,50408E+15', '3,50413E+15', '3,50407E+15',
       '3,50412E+15', '3,50417E+15', '3,30604E+15'], dtype=object)

**Observasi:**

Nilai pada kolom tersebut memiliki `dtype` atau tipe data `object`.
* Contoh format nilai yang sering ditemui pada kolom ini adalah `3,52606E+15`.
* Ditemukan juga beberapa format lain seperti `` `3527035109120002 `` dan `'3503125502060001`.

Untuk menyesuaikan nilai-nilai tersebut dengan notasi *scientific* yang umumnya berlaku, maka karakter-karakter berikut perlu dimodifikasi:

In [8]:
# Mengganti karakter tertentu pada kolom 'nik' dalam 'data_dinsos_csv' 
data_dinsos_csv['nik'] = data_dinsos_csv['nik'].replace(
    to_replace={
        ',': '.',
        '`': '',
        "'": ''
    },
    regex=True # Mengimplementasikan regular expression pada parameter 'to_replace'
)

Setelah menggunakan format yang sesuai, nilai-nilai yang masih menggunakan tipe data *object* dapat dikonversi ke dalam tipe data *numeric*:

In [9]:
# Mengonversi tipe data pada kolom 'nik' dalam 'data_dinsos_csv'
data_dinsos_csv['nik'] = pd.to_numeric( # Ke tipe data numeric
    arg=data_dinsos_csv['nik']
)

print(f"Tipe data pada kolom 'nik' dalam 'data_dinsos_csv': {data_dinsos_csv['nik'].dtype}")

Tipe data pada kolom 'nik' dalam 'data_dinsos_csv': float64

Terakhir, nilai yang sudah menggunakan tipe data *numeric* namun dalam bentuk `float` diubah menjadi `int`:

In [10]:
# Mengubah tipe data pada kolom 'nik' dalam 'data_dinsos_csv'
data_dinsos_csv['nik'] = data_dinsos_csv['nik'].astype( 
    dtype=int # Menjadi tipe data 'int'
)

Berikut ditunjukkan hasil dari transformasi data pada kolom `nik` dalam `data_dinsos_csv`:

In [11]:
data_dinsos_csv['nik'].unique()

array([ 3526060000000000,  3526180000000000,  3526190000000000,
        3526140000000000,  3526040000000000,  3526130000000000,
        3526030000000000,  3526080000000000,  3526070000000000,
        3526100000000000,  3526010000000000,  3526050000000000,
        3578050000000000,  3526160000000000,  3578040000000000,
        3526120000000000,  3526170000000000,  3526660000000000,
        3513240000000000,  3526020000000000,  3510190000000000,
        3510050000000000,  3510160000000000,  3510070000000000,
        3522110000000000,  3510060000000000,  3510210000000000,
        3510120000000000,  3510030000000000,  3510170000000000,
        3510090000000000,  3510220000000000,  3510140000000000,
        3510110000000000,  3510200000000000,  3510130000000000,
        3510010000000000,  3510240000000000,  3510150000000000,
        3510080000000000,  3510020000000000,  3510040000000000,
        3510100000000000,  3515180000000000,  3505020000000000,
        3505070000000000,  3505050000000000,  3505030000000000,
        3505090000000000,  3505160000000000,  3505080000000000,
        3505040000000000,  3505180000000000,  3505060000000000,
        3505100000000000,  3505190000000000,  3503060000000000,
        3506010000000000,  3522200000000000,  3522040000000000,
        3522020000000000,  3522120000000000,  3522190000000000,
        3522150000000000,  3522060000000000,  3522140000000000,
        3522130000000000,  3522250000000000,  3522280000000000,
        3522090000000000,  3522080000000000,  3522050000000000,
        3522240000000000,  3522010000000000,  3522100000000000,
        3522030000000000,  3522270000000000,  3522160000000000,
        3522220000000000,  3522070000000000,  3209310000000000,
        3522230000000000,  6473010000000000,  3522210000000000,
        3522290000000000,  3511030000000000,  3511210000000000,
        3511220000000000,  3511130000000000,  3511060000000000,
        3511090000000000,  3511140000000000,  3511150000000000,
        3511100000000000,  3512060000000000,  3511050000000000,
        3511110000000000,  3511000000000000,  3511070000000000,
        3411070000000000,  3511080000000000,  3511170000000000,
        3511200000000000,  3511160000000000,  3511040000000000,
        3511230000000000,  3375030000000000,  3511020000000000,
        3511120000000000,  3511180000000000,  3511010000000000,
        3525020000000000,  3525050000000000,  3525030000000000,
        3525160000000000,  3525120000000000,  3525060000000000,
        3525010000000000,  3525040000000000,  3525140000000000,
        3525170000000000,  3525100000000000,  3525130000000000,
        3525070000000000,  3525110000000000,  3525150000000000,
        3524190000000000,  3525080000000000,  9109010000000000,
        3525090000000000,  6402040000000000,  3509020000000000,
        3590910000000000,  3509170000000000,  3509040000000000,
        3509130000000000,  3509250000000000,  3509070000000000,
        3509030000000000,  3509160000000000,  3509180000000000,
        3509210000000000,  3509120000000000,  3509200000000000,
        3509150000000000,  3509300000000000,  3509060000000000,
        3509100000000000,  3509050000000000,  3509090000000000,
        3509230000000000,   350903000000000,  3509190000000000,
        3509310000000000,  3509220000000000,  3509280000000000,
        3509110000000000,   350911000000000,  3509290000000000,
        3517140000000000,  3517100000000000,  3517110000000000,
        3517020000000000,  3517220000000000,  3517150000000000,
        3518110000000000,  3517170000000000,  3517010000000000,
        3517080000000000,  3517070000000000,  3517130000000000,
        3517120000000000,  3517090000000000,  3517050000000000,
        3578090000000000,  3517030000000000,  3517190000000000,
        3517180000000000,  3517200000000000,  3517210000000000,
        3517060000000000,  3517040000000000,  3519110000000000,
        3327100000000000,  1803090000000000,  3517160000000000,
        3506230000000000,  3506200000000000,  3506050000000000,
        3506080000000000,  3506060000000000,  3506030000000000,
        3506020000000000,  3506100000000000,  3506170000000000,
        3506040000000000,  3506140000000000,  3506150000000000,
        3506110000000000,  3506070000000000,  3506120000000000,
        3506210000000000,  3506260000000000,  3578020000000000,
         350621000000000,  3506250000000000,  3515130000000000,
        3506090000000000,    35063200000000,  3506130000000000,
        3578270000000000,  3506240000000000,   350626000000000,
        1206020000000000,  3506160000000000,  3506220000000000,
        3373050000000000,  3579030000000000,  3579020000000000,
        3579040000000000,  3579010000000000,  3572010000000000,
        3572030000000000,  3572020000000000,  3578160000000000,
        3572040000000000,  3571040000000000,  3571030000000000,
        3571020000000000,  3571010000000000,  1205070000000000,
        3573030000000000,  3313060000000000,  3577010000000000,
        3577030000000000,  3577020000000000,  3577040000000000,
        3503150000000000,  3401040000000000,  3677010000000000,
        3174080000000000,  3519040000000000,  3216080000000000,
        3573060000000000,  3573040000000000,  3507180000000000,
        3573020000000000,  3573010000000000,  3528050000000000,
        3573050000000000,  3507220000000000,  3519030000000000,
        3573950000000000,  3514010000000000,  3507210000000000,
        3507260000000000,  3513070000000000,  3529010000000000,
        3576020000000000,  3576010000000000,  3516130000000000,
        3576030000000000,  3516120000000000,  3575030000000000,
        3575010000000000,  3575040000000000,  3575050000000000,
        3507050000000000,  3575020000000000, 35750200000000000,
        3574060000000000,  3574020000000000,  3574050000000000,
        3574040000000000,  3574030000000000,  3574010000000000,
        3513180000000000,  3578290000000000,  3578150000000000,
        3578190000000000,  3578060000000000,  3578120000000000,
        3578180000000000,  3578240000000000,  3578100000000000,
        3503100000000000,  3578200000000000,  3578260000000000,
        3578310000000000,  3578230000000000,  3578010000000000,
        4578290000000000,  3578140000000000,  3578210000000000,
        3578130000000000,  3527020000000000,  3578170000000000,
        3578250000000000,  3578070000000000,  3578280000000000,
        3524100000000000,  3527060000000000,  3578320000000000,
        3578080000000000,  3524150000000000,  3524180000000000,
        3505150000000000,  3524270000000000,  3524220000000000,
        3524020000000000,  3524120000000000,  3524160000000000,
        3524060000000000,  3524230000000000,  3524240000000000,
        3524090000000000,  3524040000000000,  3524110000000000,
        3524170000000000,  3524070000000000,  3524130000000000,
        3524250000000000,  3524200000000000,  3524050000000000,
        3524260000000000,  3524140000000000,  3524080000000000,
        3524010000000000,  3524030000000000,  3524210000000000,
        3524280000000000,  3534120000000000,  3508210000000000,
        3508120000000000,  3508030000000000,  3508100000000000,
        3508140000000000,  3508190000000000,  3508040000000000,
        3508110000000000,  3508070000000000,  3508200000000000,
        3508180000000000,  3508080000000000,  3508060000000000,
        3508160000000000,  3508050000000000,  3508150000000000,
        3508170000000000, 35174100000000000,  3519050000000000,
        3519120000000000,  3519150000000000,  3519060000000000,
        3519080000000000,  3519160000000000,  1404120000000000,
        3519100000000000,  3519090000000000,  3519020000000000,
        3519070000000000,  3519010000000000,  3519130000000000,
        3519140000000000,  6408040000000000,  3521090000000000,
        1812060000000000,  3507200000000000,  3521010000000000,
        3520030000000000,  3520090000000000,  3520150000000000,
        3520020000000000,  3520170000000000,  3520060000000000,
        3520140000000000,  3520120000000000,  3502130000000000,
        3520110000000000,  3520160000000000,  3520100000000000,
        3520190000000000,  3520040000000000,  3520050000000000,
        3520130000000000,  3520080000000000,  3520070000000000,
        3520180000000000,  3523120000000000,   352072000000000,
        3515170000000000,   352017000000000,  3507040000000000,
        3507100000000000,  3507110000000000,  3507300000000000,
        3507250000000000,  3507310000000000,  3507280000000000,
        9271050000000000,  3507070000000000,  3507160000000000,
        3507270000000000,  3507010000000000,  3507230000000000,
        3507120000000000,  3507060000000000,  3507190000000000,
        3507170000000000,  3507240000000000,  3507020000000000,
        3507080000000000,  3516070000000000,  3516110000000000,
        3516170000000000,  3516180000000000,  3516160000000000,
        3516100000000000,  3516190000000000,  3516150000000000,
        3516080000000000,  3516060000000000,  3516020000000000,
        3516040000000000,  3516010000000000,  3516050000000000,
        3516030000000000,  3516090000000000,  3518070000000000,
        3518080000000000,  3518050000000000,  3528010000000000,
        3518130000000000,  3518160000000000,  3518090000000000,
        3518010000000000,  3518030000000000,  3518040000000000,
        3518170000000000,  3201020000000000,  3518140000000000,
        3518100000000000,  3518190000000000,  3518060000000000,
        3518020000000000,  3518150000000000,  3518120000000000,
        3518180000000000,  3515190000000000,  3506270000000000,
        3521110000000000,  3604150000000000,  3521150000000000,
        3521170000000000,  3521030000000000,  3521120000000000,
        3521100000000000,  3521140000000000,  3521020000000000,
        3521040000000000,  3174050000000000,  3521130000000000,
        3521050000000000,  3521190000000000,  3521200000000000,
        3174060000000000,  3212230000000000,  3521060000000000,
        3313030000000000,  1801050000000000,  3521070000000000,
        3521080000000000,  3521000000000000,  3521160000000000,
        3175050000000000,  3316040000000000,  3520360000000000,
        3521180000000000,  3501120000000000,  3501010000000000,
        3501100000000000,  3501040000000000,  3501070000000000,
        3501080000000000,  3501110000000000,  3501050000000000,
        1808060000000000,  3501060000000000,  3501020000000000,
        3209080000000000,  3501030000000000,  3501090000000000,
        3528040000000000,  3528100000000000,  3528120000000000,
        3528020000000000,  3528000000000000,  3528030000000000,
        3528080000000000,  3528070000000000,  3528090000000000,
        3528060000000000,  3175060000000000,  3528130000000000,
        3582070000000000,  3514060000000000,  3514210000000000,
        3514050000000000,  3514200000000000,  3514240000000000,
        3514170000000000,  3514180000000000,  3514020000000000,
        3514120000000000,  3514190000000000,  3514130000000000,
        3505140000000000,  3514080000000000,  3514230000000000,
        3514030000000000,  3151420000000000,  3514160000000000,
        3507150000000000,  3514090000000000,  3514150000000000,
        3514220000000000,  3514110000000000,  3514040000000000,
        3578220000000000,  3502110000000000,  3502150000000000,
        3502160000000000,  3502200000000000,  3502050000000000,
        3502140000000000,  3502190000000000,  3502120000000000,
        3502180000000000,  3502170000000000,  3502210000000000,
        3502020000000000,  3502070000000000,  3502080000000000,
        3578110000000000,  3502060000000000,  1401160000000000,
        3502010000000000,  3502100000000000,  3592120000000000,
        3513090000000000,  3513210000000000,  3513230000000000,
        3513040000000000,  3513160000000000,  3513010000000000,
        3513200000000000,  3513190000000000,  3513050000000000,
        3513140000000000,  3513020000000000,  3513170000000000,
        3513080000000000,  3513220000000000,  3513110000000000,
        3513130000000000,  3513150000000000,  3513120000000000,
        3513100000000000,  3513030000000000,  3513060000000000,
         351304000000000,  3513250000000000,   351309000000000,
        3527010000000000, 35132200000000000,  3527120000000000,
        3527070000000000,  3527110000000000,  3527130000000000,
        3527080000000000,  3527050000000000,  3527030000000000,
         352708000000000,  3527040000000000,  3527035109120002,
        3527011712100001,  3527032603020002,  3515120000000000,
        3515070000000000,  3515050000000000,  3515140000000000,
        3515160000000000,  3515110000000000,  3515150000000000,
        3515020000000000,  3515100000000000,  3515030000000000,
        3515080000000000,  3515090000000000,  3515040000000000,
        3515060000000000,  3512080000000000,  3512110000000000,
        3512020000000000,  3512070000000000,  3512090000000000,
        3512120000000000,  3512040000000000,  9109090000000000,
        3512160000000000,  3529190000000000,  3512130000000000,
        3512170000000000,  3512030000000000,  3512180000000000,
        3672050000000000,  3512100000000000,  3512050000000000,
        3529020000000000,  3529120000000000,  3529100000000000,
        3529080000000000,  3529130000000000,  3529110000000000,
        3529030000000000,  3529090000000000,  3529040000000000,
        3529200000000000,  3529060000000000,  2101160000000000,
        3529180000000000,  3529170000000000,  3529160000000000,
        3529050000000000,  3529070000000000,  3529260000000000,
        3503010000000000,  3503080000000000,  3503040000000000,
        3503090000000000,  3503130000000000,  3503050000000000,
        3503120000000000,  3503030000000000,  3503070000000000,
        3503020000000000,  3503110000000000,  3503140000000000,
        3303180000000000,  3503125502060001,  3523170000000000,
        3523010000000000,  3523110000000000,  3523070000000000,
        3523080000000000,  3523160000000000,  3514100000000000,
        3523150000000000,  6402130000000000,  3523030000000000,
        3523140000000000,  3523100000000000,  3523090000000000,
        3523210000000000,  3523130000000000,  3523180000000000,
        3523200000000000,  1223040000000000,  3523020000000000,
        3523190000000000,  3504110000000000,  3504030000000000,
        3504150000000000,  3504050000000000,  3504140000000000,
        3604090000000000,  3504100000000000,  3504090000000000,
        3504060000000000,  3504040000000000,  3504010000000000,
        3504190000000000,  3504020000000000,  3504180000000000,
        3504080000000000,  3504130000000000,  3504070000000000,
        3504120000000000,  3504170000000000,  3306040000000000])

Data tersebut dapat dibandingkan dengan data serupa yang tersedia pada `data_dinsos_xlsx` dan `bentuk_table` sebagai acuan format yang hendak digunakan:

In [12]:
pd.DataFrame(
    data=[
        len(bentuk_table['nik'].astype(str)[0]),
        len(data_dinsos_csv['nik'].astype(str)[0]),
        len(data_dinsos_xlsx['nik'].astype(str)[0])
    ],
    index=[
        'nik_table',
        'nik_csv',
        'nik_xlsx'
    ],
    columns=[
        'len()'
    ]
)

           len()
nik_table     16
nik_csv       16
nik_xlsx      21

*Catatan:*

*Fungsi `len()` digunakan untuk menghitung panjang atau jumlah item dalam suatu object.*
* *Ketika object tersebut berwujud string, maka fungsi ini akan menghitung jumlah karakter dalam string tersebut.* 
* *Sehingga kolom `nik` perlu diubah tipe datanya terlebih dahulu menjadi `str`.*
* *Data pertama pada kolom ini diakses dengan integer-based indexing `[0]` untuk kemudian dihitung panjang datanya dengan `len()`.*

*Dengan kata lain, fungsi ini menghitung jumlah digit dari data kolom `nik` pada tiap sumber data*

**Observasi:**

Nilai `nik` pada `data_dinsos_csv` adalah yang paling sesuai:
* Karena panjang datanya serupa dengan yang telah dicontohkan pada `bentuk_table`, dan
* Secara *domain knowledge* yang umum diketahui, `nik` atau Nomor Induk Kependudukan terdiri dari 16 digit angka.

### ETL Finalization

Berdasarkan penemuan di atas, diputuskan untuk menggunakan `dinsos.csv` sebagai format yang representatif untuk data dinas sosial. Juga ditampilkan sumber data lainnya yakni data master desa.

In [13]:
# Membuat variable instance baru 
data_dinas_sosial = data_dinsos_csv # Dari format data dinas sosial yang akan digunakan

data_dinas_sosial.head(
    n=5
)

,id,kode_provinsi,nama_provinsi,periode_update,nik,nama,alamat,provinsi,kabupaten,kecamatan,kelurahan,tahun,kategori,jumlah,satuan
0,1,35,Jawa Timur,Triwulan I 2024,3526060000000000,ABD HALIM,DSN GLIMBUR,JAWA TIMUR,KAB. BANGKALAN,GEGER,LERPAK,2024,-,-,-
1,2,35,Jawa Timur,Triwulan I 2024,3526180000000000,ABD. ROHMAN,DSN. REMBAH GALIS,JAWA TIMUR,KAB. BANGKALAN,GALIS,GALIS,2024,-,-,-
2,3,35,Jawa Timur,Triwulan I 2024,3526190000000000,ABDUS SYUKUR,DSN. BARAT SUMBER,JAWA TIMUR,KAB. BANGKALAN,GALIS,LONGKEK,2024,-,-,-
3,4,35,Jawa Timur,Triwulan I 2024,3526060000000000,ACHMAD,DSN POCONG,JAWA TIMUR,KAB. BANGKALAN,GEGER,CAMPOR,2024,-,-,-
4,5,35,Jawa Timur,Triwulan I 2024,3526140000000000,ACHMAD RIDOI,DSN. BANGGUMOK,JAWA TIMUR,KAB. BANGKALAN,TRAGAH,TRAGAH,2024,-,-,-

In [14]:
# Menampilkan 5 baris pertama dari data master desa
data_master_desa.head(
    n=5
)

,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,bps_kode_kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,bps_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_desa_kelurahan
0,35,JAWA TIMUR,3501,KABUPATEN PACITAN,3501010,DONOROJO,3501010001,WIDORO,35.01.01,DONOROJO,35.01.01.2001,WIDORO
1,35,JAWA TIMUR,3501,KABUPATEN PACITAN,3501010,DONOROJO,3501010002,SAWAHAN,35.01.01,DONOROJO,35.01.01.2002,SAWAHAN
2,35,JAWA TIMUR,3501,KABUPATEN PACITAN,3501010,DONOROJO,3501010003,KALAK,35.01.01,DONOROJO,35.01.01.2003,KALAK
3,35,JAWA TIMUR,3501,KABUPATEN PACITAN,3501010,DONOROJO,3501010004,SENDANG,35.01.01,DONOROJO,35.01.01.2004,SENDANG
4,35,JAWA TIMUR,3501,KABUPATEN PACITAN,3501010,DONOROJO,3501010005,KLEPU,35.01.01,DONOROJO,35.01.01.2005,KLEPU

Setelah proses ETL berhasil dijalankan, tahapan-tahapan berikutnya untuk membuat *table* dengan format yang sesuai dapat dilakukan.

---
## Section 2 | Table Creation
### Data Comparison
Berikut disertakan DataFrame yang berisikan daftar nama kolom pada `bentuk_table` dengan `data_dinas_sosial` dan `data_master_desa`:

In [15]:
pd.DataFrame(
    # Label/nama kolom pada tiap data
    data=[
        bentuk_table.columns, 
        data_dinas_sosial.columns,
        data_master_desa.columns
    ],
    # Indeks untuk tiap daftar nama kolom
    index=[
        'bentuk_table',
        'data_dinas_sosial',
        'data_master_desa'
    ]
).T # Transpose DataFrame untuk memudahkan analisis

,bentuk_table,data_dinas_sosial,data_master_desa
0,id,id,kode_provinsi
1,kode_provinsi_y,kode_provinsi,nama_provinsi
2,nama_provinsi,nama_provinsi,kode_kabupaten_kota
3,kode_kabupaten_kota,periode_update,nama_kabupaten_kota
4,kabupaten,nik,bps_kode_kecamatan
5,nama_kabupaten_kota,nama,bps_nama_kecamatan
6,bps_kode_kecamatan,alamat,bps_kode_desa_kelurahan
7,kecamatan,provinsi,bps_desa_kelurahan
8,bps_nama_kecamatan,kabupaten,kemendagri_kode_kecamatan
9,bps_kode_desa_kelurahan,kecamatan,kemendagri_nama_kecamatan
10,kelurahan,kelurahan,kemendagri_kode_desa_kelurahan
11,bps_nama_desa_kelurahan,tahun,kemendagri_desa_kelurahan
12,kemendagri_kode_kecamatan,kategori,None
13,kemendagri_nama_kecamatan,jumlah,None
14,kemendagri_kode_desa_kelurahan,satuan,None
15,kemendagri_nama_desa_kelurahan,None,None
16,periode_update,None,None
17,nik,None,None
18,nama,None,None
19,alamat,None,None
20,kategori,None,None
21,kategori.1,None,None
22,jumlah,None,None
23,satuan,None,None
24,tahun,None,None

**Observasi:**
* Beberapa kolom yang dibutuhkan untuk membuat *table* sesuai acuan dari `bentuk_table` hanya ditemukan persis satu di `data_dinas_sosial` maupun `data_master_desa`.
    * Seperti kolom `id`, `kode_kabupaten_kota`, dan `bps_kode_kecamatan`.
    * Sehingga terdapat kemungkinan untuk melakukan penggabungan atau *merge* dari dua sumber data ini.
* Namun proses penggabungan DataFrame membutuhkan *key*: data beserta kolomnya yang identik pada DataFrame yang hendak digabungkan.
    * Meskipun kedua kolom `kode_provinsi` pada masing-masing sumber data identik, tetapi `bentuk_table` menunjukkan bahwa `kode_provinsi` yang digunakan memiliki imbuhan `_y` —menandakan bahwa kolom ini berasal dari DataFrame kedua yang hendak digabungkan—, sehingga kolom ini tidak dijadikan *key* untuk membuat tabel baru.
    * *Merge umumnya menambahkan imbuhan di akhir nama kolom untuk dua kolom dengan nama yang sama dan akan digabungkan, sehingga imbuhan tersebut menandakan dari DataFrame mana asalnya.*
    * Dengan demikian, kolom yang akan ditentukan sebagai `key` adalah:
        1. Kolom `nama_provinsi`,
        2. Pasangan kolom `kabupaten` dan `nama_kabupaten_kota`,
        3. Antara `kecamatan` dengan `bps_nama_kecamatan` atau `kemendagri_nama_kecamatan`, dan 
        4. Antara `kelurahan` dengan `bps_desa_kelurahan` atau `kemendagri_nama_desa_kelurahan`.
    * Khusus untuk nomor 3 dan 4, analisis berikut akan menentukan pasangan kolom mana yang akan digunakan sebagai `key` berikutnya:

In [16]:
# Jumlah dari elemen dalam kolom 'kecamatan' dan 'kelurahan'
kecamatan_len = len(data_dinas_sosial['kecamatan'])
kelurahan_len = len(data_dinas_sosial['kelurahan'])

# Jumlah dari elemen tiap kolom yang berada pada kolom 'bps_' dan 'kemendagri'
kecamatan_bps_len = len(data_dinas_sosial[data_dinas_sosial['kecamatan'].isin(values=data_master_desa['bps_nama_kecamatan'])])
kelurahan_bps_len = len(data_dinas_sosial[data_dinas_sosial['kelurahan'].isin(values=data_master_desa['bps_desa_kelurahan'])])
kecamatan_kemendagri_len = len(data_dinas_sosial[data_dinas_sosial['kecamatan'].isin(values=data_master_desa['kemendagri_nama_kecamatan'])])
kelurahan_kemendagri_len = len(data_dinas_sosial[data_dinas_sosial['kelurahan'].isin(values=data_master_desa['kemendagri_desa_kelurahan'])])

pd.DataFrame(
    data=[
        (kecamatan_len, kelurahan_len),
        (kecamatan_bps_len, kelurahan_bps_len),
        (kecamatan_kemendagri_len, kelurahan_kemendagri_len)
    ],
    index=[
        'len()',
        'isin(bps_)',
        'isin(kemendagri_)'
    ],
    # Nama untuk tiap kolom pada DataFrame instance berikut
    columns=[
        'kecamatan',
        'kelurahan'
    ]
)

                   kecamatan  kelurahan
len()                  11583      11583
isin(bps_)             10853      10713
isin(kemendagri_)      11387      11545

**Observasi:**

Jumlah elemen dari tiap kolom `kecamatan` dan `kelurahan` yang persis sama dengan elemen pada kolom `bps_` lebih sedikit daripada kolom `kemendagri_`.
* Hal tersebut nantinya berdampak pada jumlah *missing value* yang lebih banyak jika menggabungkan masing-masing kolom dengan `bps_`.
* Dengan mempertimbangkan prinsip [kualitas data](https://en.wikipedia.org/wiki/Data_quality) yang membandingkan antara kondisi data saat ini dengan kondisi yang dikehendaki —salah satunya adalah *free of defect*—, maka kolom `kemendagri_` yang akan digunakan sebagai key pada tahapan berikutnya untuk mengurangi *defect* berupa *missing value* sebanyak mungkin.

Sebelum melakukan *merging*, perlu diperhatikan juga instruksi berikutnya:
> Untuk *header* kolom menggunakan bentuk kecil semua dan isi data menggunakan huruf besar semua.
* *Header* dari kolom yang akan digabungkan sudah dalam bentuk kecil atau *lowercase*, tetapi
* Beberapa kolom seperti `nama_provinsi` dan `periode_update` dari `data_dinas_sosial` masih berisikan nilai dalam format *lowercase*, sehingga tahapan berikut akan mengubah formatnya menjadi *uppercase*:

In [17]:
# Mengubah isi dari tiap kolom menjadi uppercase
data_dinas_sosial['nama_provinsi'] = data_dinas_sosial['nama_provinsi'].str.upper()
data_dinas_sosial['periode_update'] = data_dinas_sosial['periode_update'].str.upper()

Juga ditemukan nilai pada *key* `kabupaten` yang tidak persis sama dengan `nama_kabupaten_kota`. 
* Hal ini dikarenakan isi dari `kabupaten` menggunakan format `KAB.` lalu diikuti dengan nama dari kabupaten tersebut.
* Format ini pun perlu disesuaikan dengan mengikuti acuan dari `bentuk_table`:

In [18]:
# Mengganti tiap data pada kolom 'kabupaten'
data_dinas_sosial['kabupaten'] = data_dinas_sosial['kabupaten'].str.replace(
    pat='KAB.', # Data dengan pola yang ditentukan
    repl='KABUPATEN' # Diganti dengan pola berikut
)

### Data Merging
Setelah perbandingan dan penyesuaian pada tahapan sebelumnya dinilai memadai, berikutnya proses penggabungan kedua data dapat dilakukan:

In [19]:
# Menggabungkan data dengan 'database-style join'
table = pd.merge(
    left=data_dinas_sosial, # Data pertama/left yang akan digabungkan
    right=data_master_desa, # Dengan data kedua/right
    how='left', # Menggunakan key dari left dan mempertahankan urutan dari key tersebut
    left_on=['nama_provinsi', 'kabupaten', 'kecamatan', 'kelurahan'], # Kolom dari left yang hendak digabungkan sebagai key
    right_on=['nama_provinsi', 'nama_kabupaten_kota', 'kemendagri_nama_kecamatan', 'kemendagri_desa_kelurahan'] # Dengan key dari right
)

table.head(
    n=5
)

,id,kode_provinsi_x,nama_provinsi,periode_update,nik,nama,alamat,provinsi,kabupaten,kecamatan,kelurahan,tahun,kategori,jumlah,satuan,kode_provinsi_y,kode_kabupaten_kota,nama_kabupaten_kota,bps_kode_kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,bps_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_desa_kelurahan
0,1,35,JAWA TIMUR,TRIWULAN I 2024,3526060000000000,ABD HALIM,DSN GLIMBUR,JAWA TIMUR,KABUPATEN BANGKALAN,GEGER,LERPAK,2024,-,-,-,35.0,3526.0,KABUPATEN BANGKALAN,3526140.0,GEGER,3.526140e+09,LERPAK,35.26.06,GEGER,35.26.06.2005,LERPAK
1,2,35,JAWA TIMUR,TRIWULAN I 2024,3526180000000000,ABD. ROHMAN,DSN. REMBAH GALIS,JAWA TIMUR,KABUPATEN BANGKALAN,GALIS,GALIS,2024,-,-,-,35.0,3526.0,KABUPATEN BANGKALAN,3526070.0,GALIS,3.526070e+09,GALIS,35.26.18,GALIS,35.26.18.2007,GALIS
2,3,35,JAWA TIMUR,TRIWULAN I 2024,3526190000000000,ABDUS SYUKUR,DSN. BARAT SUMBER,JAWA TIMUR,KABUPATEN BANGKALAN,GALIS,LONGKEK,2024,-,-,-,35.0,3526.0,KABUPATEN BANGKALAN,3526070.0,GALIS,3.526070e+09,LONGKEK,35.26.18,GALIS,35.26.18.2006,LONGKEK
3,4,35,JAWA TIMUR,TRIWULAN I 2024,3526060000000000,ACHMAD,DSN POCONG,JAWA TIMUR,KABUPATEN BANGKALAN,GEGER,CAMPOR,2024,-,-,-,35.0,3526.0,KABUPATEN BANGKALAN,3526140.0,GEGER,3.526140e+09,CAMPOR,35.26.06,GEGER,35.26.06.2010,CAMPOR
4,5,35,JAWA TIMUR,TRIWULAN I 2024,3526140000000000,ACHMAD RIDOI,DSN. BANGGUMOK,JAWA TIMUR,KABUPATEN BANGKALAN,TRAGAH,TRAGAH,2024,-,-,-,35.0,3526.0,KABUPATEN BANGKALAN,3526090.0,TRAGAH,3.526090e+09,TRAGAH,35.26.14,TRAGAH,35.26.14.2006,TRAGAH

## Section 3 | Data Cleansing
### Missing Value
* Sebelum membuat modifikasi lebih jauh pada `table` yang dibentuk, inspeksi dapat dilakukan untuk memeriksa keberadaan anomali dalam data.
* Selaras dengan instruksi berikutnya yang diberikan:

    > Lakukan *check* pada data tersebut, apakah ada kolom (dengan) nilai *null* atau tidak.

* Karena inspeksi ini akan dilakukan berulang kali, maka dibuat sebuah fungsi untuk mengurangi pengulangan kode Python yang sama berulang kali:

In [20]:
def check_null():
    """Fungsi untuk mendeteksi dan menampilkan nilai null pada table

    Returns:
        DataFrame: DataFrame instance yang berisikan jumlah missing value pada tiap kolom table
    """
    df_null = pd.DataFrame(
        data=table\
            # Mendeteksi missing value (NA) pada tiap kolom dalam 'table'
            .isna()\
                # Kemudian menghitung jumlah missing value tersebut
                .sum(),
    # Mengganti nama kolom untuk memudahkan pemahaman
    ).rename(
        columns={0: 'NA (n)'}
    )
    return df_null

In [21]:
# Deteksi pertama nilai null pada table
# Untuk mencari keberadaan anomali dalam data
check_null()

                                NA (n)
id                                   0
kode_provinsi_x                      0
nama_provinsi                        0
periode_update                       0
nik                                  0
nama                                 0
alamat                               0
provinsi                             0
kabupaten                            0
kecamatan                            0
kelurahan                            0
tahun                                0
kategori                             0
jumlah                               0
satuan                               0
kode_provinsi_y                    291
kode_kabupaten_kota                291
nama_kabupaten_kota                291
bps_kode_kecamatan                 291
bps_nama_kecamatan                 291
bps_kode_desa_kelurahan            291
bps_desa_kelurahan                 291
kemendagri_kode_kecamatan          291
kemendagri_nama_kecamatan          291
kemendagri_kode_desa_kelurahan     291
kemendagri_desa_kelurahan          291

**Observasi:**
* Kolom dengan nilai *null* atau NA adalah kolom-kolom yang berasal dari `data_master_desa` (mulai dari `kode_provinsi_y` hingga `kemendagri_desa_kelurahan`).
* Tampilan berikut menunjukkan lokasi *missing value* tersebut dalam bentuk tabel:

In [22]:
# Menunjukkan baris data dalam table dengan missing value
table[table.isna().any(axis=1)]

,id,kode_provinsi_x,nama_provinsi,periode_update,nik,nama,alamat,provinsi,kabupaten,kecamatan,kelurahan,tahun,kategori,jumlah,satuan,kode_provinsi_y,kode_kabupaten_kota,nama_kabupaten_kota,bps_kode_kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,bps_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_desa_kelurahan
136,137,35,JAWA TIMUR,TRIWULAN I 2024,3510130000000000,MOHAMAT JONI SETIAWAN,DUSUN JATISARI RT 01 RW 01,JAWA TIMUR,KABUPATEN BANYUWANGI,BLIMBINGSARI,BOMO,2024,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
344,345,35,JAWA TIMUR,TRIWULAN I 2024,3522090000000000,AWALUDIN MOHAMAD IRFAN,DUSUN KEDUNGDANG RT 12 RW 05,JAWA TIMUR,KABUPATEN BOJONEGORO,KEPOHBARU,KEPOH,2024,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380,381,35,JAWA TIMUR,TRIWULAN I 2024,3522090000000000,M QUBAYLAS SAHRONA AHDA,DUSUN JANAR RT 07 RW 03,JAWA TIMUR,KABUPATEN BOJONEGORO,KEPOHBARU,NGLUMBER,2024,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385,386,35,JAWA TIMUR,TRIWULAN I 2024,3522100000000000,MAROMAH,DUSUN KAPAL ETAN RT 04 RW 04,JAWA TIMUR,KABUPATEN BOJONEGORO,KEPOHBARU,BUMIREJO,2024,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
746,747,35,JAWA TIMUR,TRIWULAN I 2024,3509220000000000,MA'RIFATUL AINUN,JLN. KH. MOH YASIN RT.003 RW.18,JAWA TIMUR,KABUPATEN JEMBER,SUMBERSARI,BANGSALSARI,2024,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11192,11192,35,JAWA TIMUR,TRIWULAN III 2024,3529180000000000,LANI,DUSUN TANAH LESEK,JAWA TIMUR,KABUPATEN SUMENEP,BATUPUTIH,JURUAN LAOK,2024,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11193,11193,35,JAWA TIMUR,TRIWULAN III 2024,3529170000000000,LASRI,DUSUN MURA'AS,JAWA TIMUR,KABUPATEN SUMENEP,BATUPUTIH,BADUR,2024,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11195,11195,35,JAWA TIMUR,TRIWULAN III 2024,3529170000000000,MISNATUN,RT 006 RW 003 DSN KRAJAN,JAWA TIMUR,KABUPATEN SUMENEP,BATUPUTIH,LARANGAN BARMA,2024,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11219,11219,35,JAWA TIMUR,TRIWULAN III 2024,3529080000000000,RADIMANSYAH,RT 013 RW 004 SUSUN SAWO,JAWA TIMUR,KABUPATEN SUMENEP,GILIGINTING,LOMBANG,2024,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11232,11232,35,JAWA TIMUR,TRIWULAN III 2024,3529080000000000,SU'AT,RT 024 RW 007 SUSUN BURET,JAWA TIMUR,KABUPATEN SUMENEP,GILIGINTING,LOMBANG,2024,-,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Observasi**:
* Jumlah baris data `291` yang ditunjukkan pada tabel di atas sudah sesuai dengan yang dideteksi dari `check_null()`.
* Instruksi berikutnya memberikan arahan sebagai berikut:

    > Jika ada nilai *null*, lakukan *cleansing* data pada *table* yang sudah dilakukan *join* sehingga meminimalisir nilai *null*.

    > Buatlah *coding cleansing* dengan bahasa Python. Asumsikan akan melakukan *cleansing* data pada data yang jumlahnya besar dan beragam, sehingga buatlah algoritma *coding* yang bisa digunakan untuk banyak *case* data.
    
    > Buatlah penjelasan *cleansing* data yang Anda lakukan dari *problem* dan solusi yang diberikan.

* Sesuai petunjuk tersebut, beberapa kolom tersebut dapat diisi dengan menggunakan kolom serupa yang berasal dari `data_dinas_sosial` sebagai acuan —karena kolom-kolom ini terisi sempurna tanpa *missing value*—, sebagaimana ditunjukkan dalam bagian-bagian berikut:
    * Bagian pertama mendefinisikan fungsi yang diperlukan untuk mengganti nilai *null*, dan
    * Bagian kedua menerapkan fungsi tersebut pada pasangan kolom dengan nilai NA dan kolom tanpa nilai NA.

In [23]:
def replace_null(value, replace):
    """Fungsi untuk mengganti nilai missing value

    Args:
        value (DataFrame): baris data dengan missing value
        replace (DataFrame): baris data tanpa missing value

    Returns:
        replace: jika value adalah missing value (None atau pd.isna())
        value: jika value selain missing value
    """    
    if value is None or pd.isna(value):
        return replace
    return value

def apply_replace_null(column_missing, column_filled):
    """Fungsi untuk menerapkan 'replace_null()' pada kolom table dengan missing value

    Args:
        column_missing (str): nama kolom yang berisikan missing value
        column_filled (str): nama kolom digunakan sebagai acuan untuk mengisi missing value tersebut
    """    
    table[column_missing] = table[[column_missing, column_filled]]\
        .apply(
            func=lambda row: replace_null(value=row[column_missing], replace=row[column_filled]),
            # Menggunakan 'axis' kedua atau kolom untuk menerapkan 'func' parameter
            # Sehingga 'func' diterapkan pada tiap baris dalam kolom tersebut
            axis=1
        )

In [24]:
# Menjalankan 'apply_replace_null()' pada kolom table dengan missing value
apply_replace_null(column_missing='kode_provinsi_y', column_filled='kode_provinsi_x')
apply_replace_null(column_missing='nama_kabupaten_kota', column_filled='kabupaten')
apply_replace_null(column_missing='bps_nama_kecamatan', column_filled='kecamatan')
apply_replace_null(column_missing='kemendagri_nama_kecamatan', column_filled='kecamatan')
apply_replace_null(column_missing='bps_desa_kelurahan', column_filled='kelurahan')
apply_replace_null(column_missing='kemendagri_desa_kelurahan', column_filled='kelurahan')

In [25]:
# Deteksi kedua nilai null pada table
# Setelah menjalankan 'apply_replace_null()' pada kolom tertentu dalam table
check_null()

                                NA (n)
id                                   0
kode_provinsi_x                      0
nama_provinsi                        0
periode_update                       0
nik                                  0
nama                                 0
alamat                               0
provinsi                             0
kabupaten                            0
kecamatan                            0
kelurahan                            0
tahun                                0
kategori                             0
jumlah                               0
satuan                               0
kode_provinsi_y                      0
kode_kabupaten_kota                291
nama_kabupaten_kota                  0
bps_kode_kecamatan                 291
bps_nama_kecamatan                   0
bps_kode_desa_kelurahan            291
bps_desa_kelurahan                   0
kemendagri_kode_kecamatan          291
kemendagri_nama_kecamatan            0
kemendagri_kode_desa_kelurahan     291
kemendagri_desa_kelurahan            0

**Observasi**:
* Fungsi `apply_replace_null()` berhasil dijalankan, dan *missing value* pada kolom yang ditetapkan telah terisi.
* Seperti halnya pada bagian deteksi awal sebelumnya, berikut ditampilkan contoh baris data dengan *missing value* untuk melihat hasil dari `apply_replace_null()`:

In [26]:
# Contoh baris data dengan missing value
# Pada baris dengan nomor indeks 136
# Kemudian mengubah baris data dalam bentuk Series ke dalam format DataFrame
table.iloc[136]\
    .to_frame()\
        .T

,id,kode_provinsi_x,nama_provinsi,periode_update,nik,nama,alamat,provinsi,kabupaten,kecamatan,kelurahan,tahun,kategori,jumlah,satuan,kode_provinsi_y,kode_kabupaten_kota,nama_kabupaten_kota,bps_kode_kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,bps_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_desa_kelurahan
136,137,35,JAWA TIMUR,TRIWULAN I 2024,3510130000000000,MOHAMAT JONI SETIAWAN,DUSUN JATISARI RT 01 RW 01,JAWA TIMUR,KABUPATEN BANYUWANGI,BLIMBINGSARI,BOMO,2024,-,-,-,35.0,NaN,KABUPATEN BANYUWANGI,NaN,BLIMBINGSARI,NaN,BOMO,NaN,BLIMBINGSARI,NaN,BOMO

**Observasi**:
* Kolom tertentu pada tabel yang sebelumnya memiliki missing value telah terisi sesuai kolom acuannya.
* Untuk mengisi nilai NA lainnya, fungsi `update()` dapat digunakan dengan memanfaatkan data acuan `data_master_desa`:

In [27]:
# Melakukan modifikasi isi pada table
table.update(
    other=data_master_desa, # Menggunakan 'non-NA values' dari 'data_master_desa'
    overwrite=False # Melakukan 'update()' hanya pada nilai NA pada table
)

In [28]:
# Deteksi ketiga nilai null pada table
check_null()

                                NA (n)
id                                   0
kode_provinsi_x                      0
nama_provinsi                        0
periode_update                       0
nik                                  0
nama                                 0
alamat                               0
provinsi                             0
kabupaten                            0
kecamatan                            0
kelurahan                            0
tahun                                0
kategori                             0
jumlah                               0
satuan                               0
kode_provinsi_y                      0
kode_kabupaten_kota                 78
nama_kabupaten_kota                  0
bps_kode_kecamatan                  78
bps_nama_kecamatan                   0
bps_kode_desa_kelurahan             78
bps_desa_kelurahan                   0
kemendagri_kode_kecamatan           78
kemendagri_nama_kecamatan            0
kemendagri_kode_desa_kelurahan      78
kemendagri_desa_kelurahan            0

**Observasi**:
* Fungsi `update()` juga berhasil dijalankan, dan meskipun proses ini tidak menghilangkan nilai *null* secara sepenuhnya, jumlah *missing value* kolom tertentu berkurang dari sebelumnya.
* Analisis berikut menunjukkan penyebab mengapa fungsi `update()` tidak dapat menggantikan nilai NA pada `table` secara sempurna:

In [29]:
table[table.isna().any(axis=1)]\
    .head(
        n=3 # Menampilkan 3 baris data dengan missing value untuk memudahkan pemahaman
    )

,id,kode_provinsi_x,nama_provinsi,periode_update,nik,nama,alamat,provinsi,kabupaten,kecamatan,kelurahan,tahun,kategori,jumlah,satuan,kode_provinsi_y,kode_kabupaten_kota,nama_kabupaten_kota,bps_kode_kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,bps_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_desa_kelurahan
8705,8706,35,JAWA TIMUR,TRIWULAN III 2024,3509190000000000,SIN MARCELINO,JL. SULTAN AGUNG IX/19 LING. KAMPUNG LEDOK RT....,JAWA TIMUR,KABUPATEN JEMBER,KALIWATES,GELANG,2024,-,-,-,35.0,NaN,KABUPATEN JEMBER,NaN,KALIWATES,NaN,GELANG,NaN,KALIWATES,NaN,GELANG
8707,8708,35,JAWA TIMUR,TRIWULAN III 2024,3509120000000000,SITI NURUL JUNAIDAH,DUSUN KRAJAN LOR RT.002 RW.002,JAWA TIMUR,KABUPATEN JEMBER,AMBULU,TEGALBESAR,2024,-,-,-,35.0,NaN,KABUPATEN JEMBER,NaN,AMBULU,NaN,TEGALBESAR,NaN,AMBULU,NaN,TEGALBESAR
8708,8709,35,JAWA TIMUR,TRIWULAN III 2024,3509130000000000,SLAMET ABIDIN,DUSUN GUMUK GEBANG RT 019 RW 22,JAWA TIMUR,KABUPATEN JEMBER,RAMBIPUJI,SUMBEREJO,2024,-,-,-,35.0,NaN,KABUPATEN JEMBER,NaN,RAMBIPUJI,NaN,SUMBEREJO,NaN,RAMBIPUJI,NaN,SUMBEREJO

In [30]:
# Membandingkan data pada table yang berisikan missing value
data_master_desa[ # Dengan data serupa pada `data_master_desa`
    # Menggunakan baris pertama pada table dengan missing value sebagai contoh
    # Dan menggunakan data dari kolom 'kemendagri_'
    (data_master_desa['nama_kabupaten_kota'] == 'KABUPATEN JEMBER') & 
    (data_master_desa['kemendagri_nama_kecamatan'] == 'KALIWATES') &
    (data_master_desa['kemendagri_desa_kelurahan'] == 'GELANG')
]

Empty DataFrame
Columns: [kode_provinsi, nama_provinsi, kode_kabupaten_kota, nama_kabupaten_kota, bps_kode_kecamatan, bps_nama_kecamatan, bps_kode_desa_kelurahan, bps_desa_kelurahan, kemendagri_kode_kecamatan, kemendagri_nama_kecamatan, kemendagri_kode_desa_kelurahan, kemendagri_desa_kelurahan]
Index: []

In [31]:
data_master_desa[
    # Serta menggunakan data dari kolom `bps_`
    (data_master_desa['nama_kabupaten_kota'] == 'KABUPATEN JEMBER') & 
    (data_master_desa['bps_nama_kecamatan'] == 'KALIWATES') &
    (data_master_desa['bps_desa_kelurahan'] == 'GELANG')
]

Empty DataFrame
Columns: [kode_provinsi, nama_provinsi, kode_kabupaten_kota, nama_kabupaten_kota, bps_kode_kecamatan, bps_nama_kecamatan, bps_kode_desa_kelurahan, bps_desa_kelurahan, kemendagri_kode_kecamatan, kemendagri_nama_kecamatan, kemendagri_kode_desa_kelurahan, kemendagri_desa_kelurahan]
Index: []

**Observasi:**
* Kedua [boolean indexing](https://pandas.pydata.org/docs/user_guide/10min.html#selection) di atas menunjukkan bahwa terdapat beberapa *key* dari `table` yang tidak ditemukan pada `data_master_desa`.
* Hal ini yang menyebabkan munculnya *missing value* ketika proses *merging* antara `data_dinas_sosial` dan `data_master_desa` diterapkan.
* Dengan demikian, proses imputasi nilai *null* terakhir pada `table` tidak dapat dilakukan, selain dengan:
    1. Melakukan pemutakhiran `data_master_desa` agar nilai-nilai di dalamnya sesuai dengan `data_dinas_sosial`, atau
    2. Melakukan imputasi secara *manual* pada `table` dengan data baru untuk mengisi nilai NA tersebut.

### Table Formatting

* Sesuai dengan hasil analisis pada bagian `Data Comparison` sebelumnya, `kode_provinsi` yang digunakan adalah `kode_provinsi_y` dan `kode_provinsi_x` tidak digunakan dalam tabel yang baru.
* Nama dari beberapa kolom seperti `bps_desa_kelurahan`, `kemendagri_desa_kelurahan`, dan `kategori` perlu disesuaikan dengan format nama kolom yang digunakan pada `contoh_tabel`.
* Demikian juga dengan urutan nama kolom pada `tabel` mengikuti urutan nama kolom `bentuk_table`

In [32]:
table = table\
    .drop( # Menghapus kolom tertentu dari table
        columns='kode_provinsi_x'
    ).rename( # Mengganti nama kolom sesuai format pada `bentuk_table`
        columns={
            'bps_desa_kelurahan': 'bps_nama_desa_kelurahan',
            'kemendagri_desa_kelurahan': 'kemendagri_nama_desa_kelurahan',
            'kategori': 'kategori.1'
        }
    ).reindex( # Mengatur urutan dari table 
        labels=bentuk_table.columns, # Menggunakan daftar kolom dari 'bentuk_table'
        axis=1 # 'Axis' kedua atau kolom yang diurutkan sesuai parameter 'labels' sebelumnya
    )

Hasil dari proses penggabungan ini berupa *variabel instance* `table` yang dapat dibandingkan dengan `bentuk_table`:

In [33]:
# Menunjukkan table yang baru dibentuk
print('Table baru:')
display(
    table.head(
        n=3
    )
)

# Dengan contoh table dalam satu tampilan
print('Contoh table:')
display(
    bentuk_table.head(
        n=3
    )
)

Table baru:

,id,kode_provinsi_y,nama_provinsi,kode_kabupaten_kota,kabupaten,nama_kabupaten_kota,bps_kode_kecamatan,kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,kelurahan,bps_nama_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_nama_desa_kelurahan,periode_update,nik,nama,alamat,kategori,kategori.1,jumlah,satuan,tahun
0,1,35.0,JAWA TIMUR,3526.0,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526140.0,GEGER,GEGER,3.526140e+09,LERPAK,LERPAK,35.26.06,GEGER,35.26.06.2005,LERPAK,TRIWULAN I 2024,3526060000000000,ABD HALIM,DSN GLIMBUR,NaN,-,-,-,2024
1,2,35.0,JAWA TIMUR,3526.0,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526070.0,GALIS,GALIS,3.526070e+09,GALIS,GALIS,35.26.18,GALIS,35.26.18.2007,GALIS,TRIWULAN I 2024,3526180000000000,ABD. ROHMAN,DSN. REMBAH GALIS,NaN,-,-,-,2024
2,3,35.0,JAWA TIMUR,3526.0,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526070.0,GALIS,GALIS,3.526070e+09,LONGKEK,LONGKEK,35.26.18,GALIS,35.26.18.2006,LONGKEK,TRIWULAN I 2024,3526190000000000,ABDUS SYUKUR,DSN. BARAT SUMBER,NaN,-,-,-,2024

Contoh table:

,id,kode_provinsi_y,nama_provinsi,kode_kabupaten_kota,kabupaten,nama_kabupaten_kota,bps_kode_kecamatan,kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,kelurahan,bps_nama_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_nama_desa_kelurahan,periode_update,nik,nama,alamat,kategori,kategori.1,jumlah,satuan,tahun
0,1,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526140,GEGER,GEGER,3526140002,LERPAK,LERPAK,35.26.06,GEGER,35.26.06.2005,LERPAK,TRIWULAN I 2024,3526060000000000,ABD HALIM,DSN GLIMBUR,NaN,-,-,-,2024
1,2,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526070,GALIS,GALIS,3526070004,GALIS,GALIS,35.26.18,GALIS,35.26.18.2007,GALIS,TRIWULAN I 2024,3526180000000000,ABD. ROHMAN,DSN. REMBAH GALIS,NaN,-,-,-,2024
2,3,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526070,GALIS,GALIS,3526070009,LONGKEK,LONGKEK,35.26.18,GALIS,35.26.18.2006,LONGKEK,TRIWULAN I 2024,3526190000000000,ABDUS SYUKUR,DSN. BARAT SUMBER,NaN,-,-,-,2024

**Observasi:**
Secara keseluruhan —mulai dari urutan dan nama kolom, isi, serta bentuk dari data— dapat dinyatakan bahwa `table` yang dibentuk telah menyerupai unsur-unsur yang dicontohkan dalam `bentuk_table`, kecuali pada poin-poin berikut:
1. Terkecuali isi dari kolom `kode_provinsi_y`, `kode_kabupaten_kota`, `bps_kode_kecamatan`, dan `bps_kode_desa_kelurahan` pada `table` yang memiliki sedikit perbedaan pada nilai dan format yang digunakan.
    * Perbedaan ini berasal dari keberadaan *missing value* `NaN` pada kolom-kolom ini sebelum dilakukan *cleansing*. [Karena `NaN` adalah bilangan bulat `float`](https://pandas.pydata.org/docs/dev/user_guide/integer_na.html), maka Pandas melakukan *enforcing* tipe data pada kolom tersebut yang seharusnya bertipe bilangan bulat *integer* menjadi *floating point*.
    * Karena `Missing Value` pada bagian sebelumnya berhasil dijalankan, maka langkah berikutnya cukup dengan mengubah tipe data `table` menjadi `integer`
2. Sedangkan `Nan` pada kolom `kategori` dikarenakan pengubahan nama kolom ini dari `kategori.1`.
    * Dan sebenarnya `kategori.1` tidak ditemukan pada `data_dinas_sosial` maupun `data_master_desa`. Sehingga penyesuaian format `table` mengikuti `bentuk_table` menciptakan kolom tambahan yang tidak berisikan data apapun.
    * Untuk menyesuaikan dengan instruksi `meminimalisir nilai null` sebelumnya, serta menjalankan prinsip [validitas data](https://en.wikipedia.org/wiki/Data_validation) agar struktur data yang dibuat tersusun secara logis dan konsisten, maka diputuskan untuk tidak menyertakan kolom ini pada `table`.

In [34]:
table = table\
    .convert_dtypes( # Mengubah tipe data pada table
        convert_integer=True # Menjadi integer, jika dimungkinkan
    ).drop( # Menghapus kolom tertentu dari table
        columns='kategori'
    ).rename( # Mengubah nama kolom tertentu pada table
        columns={
            'kategori.1': 'kategori'
        }
    )

In [35]:
# Menampilkan table yang telah dibentuk dan dibersihkan
table

,id,kode_provinsi_y,nama_provinsi,kode_kabupaten_kota,kabupaten,nama_kabupaten_kota,bps_kode_kecamatan,kecamatan,bps_nama_kecamatan,bps_kode_desa_kelurahan,kelurahan,bps_nama_desa_kelurahan,kemendagri_kode_kecamatan,kemendagri_nama_kecamatan,kemendagri_kode_desa_kelurahan,kemendagri_nama_desa_kelurahan,periode_update,nik,nama,alamat,kategori,jumlah,satuan,tahun
0,1,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526140,GEGER,GEGER,3526140002,LERPAK,LERPAK,35.26.06,GEGER,35.26.06.2005,LERPAK,TRIWULAN I 2024,3526060000000000,ABD HALIM,DSN GLIMBUR,-,-,-,2024
1,2,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526070,GALIS,GALIS,3526070004,GALIS,GALIS,35.26.18,GALIS,35.26.18.2007,GALIS,TRIWULAN I 2024,3526180000000000,ABD. ROHMAN,DSN. REMBAH GALIS,-,-,-,2024
2,3,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526070,GALIS,GALIS,3526070009,LONGKEK,LONGKEK,35.26.18,GALIS,35.26.18.2006,LONGKEK,TRIWULAN I 2024,3526190000000000,ABDUS SYUKUR,DSN. BARAT SUMBER,-,-,-,2024
3,4,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526140,GEGER,GEGER,3526140006,CAMPOR,CAMPOR,35.26.06,GEGER,35.26.06.2010,CAMPOR,TRIWULAN I 2024,3526060000000000,ACHMAD,DSN POCONG,-,-,-,2024
4,5,35,JAWA TIMUR,3526,KABUPATEN BANGKALAN,KABUPATEN BANGKALAN,3526090,TRAGAH,TRAGAH,3526090013,TRAGAH,TRAGAH,35.26.14,TRAGAH,35.26.14.2006,TRAGAH,TRIWULAN I 2024,3526140000000000,ACHMAD RIDOI,DSN. BANGGUMOK,-,-,-,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11578,11579,35,JAWA TIMUR,3504,KABUPATEN TULUNGAGUNG,KABUPATEN TULUNGAGUNG,3504160,KAUMAN,KAUMAN,3504160009,MOJOSARI,MOJOSARI,35.04.05,KAUMAN,35.04.05.2008,MOJOSARI,TRIWULAN III 2024,3504060000000000,WARDATUL MUKHOYYAROH,DSN. BANCAAN RT 01 RW 01,-,-,-,2024
11579,11580,35,JAWA TIMUR,3504,KABUPATEN TULUNGAGUNG,KABUPATEN TULUNGAGUNG,3504110,BOYOLANGU,BOYOLANGU,3504110002,KENDALBULUR,KENDALBULUR,35.04.02,BOYOLANGU,35.04.02.2006,KENDALBULUR,TRIWULAN III 2024,3504020000000000,WIJI UTAMI,DUSUN RONGGANAN RT 03 RW 03,-,-,-,2024
11580,11581,35,JAWA TIMUR,3504,KABUPATEN TULUNGAGUNG,KABUPATEN TULUNGAGUNG,3504180,PAGERWOJO,PAGER WOJO,3504180005,PENJOR,PENJOR,35.04.06,PAGERWOJO,35.04.06.2006,PENJOR,TRIWULAN III 2024,3504070000000000,YENI,DUSUN SELOGIRI RT 03 RW 04,-,-,-,2024
11581,11582,35,JAWA TIMUR,3504,KABUPATEN TULUNGAGUNG,KABUPATEN TULUNGAGUNG,3504030,PAKEL,PAKEL,3504030007,SODO,SODO,35.04.18,PAKEL,35.04.18.2007,SODO,TRIWULAN III 2024,3504190000000000,YULIANA,DSN SODO RT 04/ RW 01,-,-,-,2024
11582,11583,35,JAWA TIMUR,3504,KABUPATEN TULUNGAGUNG,KABUPATEN TULUNGAGUNG,3504130,KEDUNGWARU,KEDUNGWARU,3504130010,MANGUNSARI,MANGUNSARI,35.04.03,KEDUNGWARU,35.04.03.2014,MANGUNSARI,TRIWULAN III 2024,3504030000000000,YUSRIL PRAJA MUKTI,JL. KHR ABDUL FATAH 4/2 RT 003 RW 001,-,-,-,2024

Dimensi dari *Table* tersebut dapat dibandingkan dengan sumber data dan contoh *table*:

In [36]:
def view_shape(data):
    """Fungsi untuk melihat bentuk/dimensi dari data

    Args:
        data (DataFrame): input dalam format DataFrame

    Returns:
        DataFrame: output yang berisikan jumlah baris dan kolom dari input 
    """    
    df_shape = pd.DataFrame(
        data=[
            data.shape[0],
            data.shape[1]
        ],
        index=[
            'Baris',
            'Kolom'
        ],
        columns=[
            'Jumlah'
        ]
    )
    return df_shape

In [37]:
# Menjalankan 'view_shape()' pada tiap data
print('Table baru:')
display(
    view_shape(
        data=table
    )
)

print('Data dinas sosial:')
display(
    view_shape(
        data=data_dinas_sosial
    )
)

print('Contoh table:')
display(
    view_shape(
        data=bentuk_table
    )
)

Table baru:

       Jumlah
Baris   11583
Kolom      24

Data dinas sosial:

       Jumlah
Baris   11583
Kolom      15

Contoh table:

       Jumlah
Baris      10
Kolom      25

**Observasi:**
* Jumlah baris `11583` dari `table` yang telah dibentuk dan dibersihkan sudah sesuai dengan jumlah baris `11583` pada sumber data utama `data_dinas_sosial`.
* Jumlah kolom `24` dari `table` tersebut sudah sesuai dengan jumlah kolom `25` pada acuan `bentuk_table`, setelah menghilangkan 1 kolom `kategori.1`.

`Table` tersebut dapat disimpan ke dalam format `csv` pada folder `data` dari repository ini sebagai dokumentasi hasil *project*.

In [38]:
# Menyimpan 'table' dalam format .csv
table.to_csv(
    path_or_buf='../portfolio/table.csv',
    index=False
)

---